 
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <div id="form" class="form">
     <br>
     <br>
     <br>
                    <p class="title2">Bienvenido</p>
                    <hr>
                    <br>
                    <p class="title2">Equipo 6</p>
                    <br>
                    <p class="title2">Coronado Segundo Juan Yael</p>
                    <p class="title2">Gallegos Gonzalez Gian Carlo</p>
                    <p class="title2">Juarez Sarabia Samuel Modesto</p>
                    <p class="title2">Paez Gomez Andrik Yael</p>
                    

</div>