
<section>
            <img class="user" title="Usuario" src="/images/unDraw/male.svg" alt="">
            <img class="user2" title="Usuario"  src="/images/unDraw/female.svg" alt="">
            <div class="datos_perfil">
                <div id="form" class="form">
                    <div>
                        <div class="container p-4">
                            <div class="row">
                                <div class="col-md-4 mx-auto">
                                    <div class="card-body">
                                        <p class="title2">Bienvenido</p>
                                            <b>{{user.username}}</b>
                                            <br>
                                            <button class="button" ><a  href="/usuario/aula"><i class="fas fa-chalkboard-teacher"></i> Aula</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container p-4">
                    <div class="row">
                        {{#each resultados}}
                            <div class="col-md-4">
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h2 class="card-title text-upprecase title2">
                                        Resultado Examen
                                    </h2>  
                                    <b class="m-1">{{resultado}}</b>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>