
<section>
            <img class="user" title="Usuario" src="/images/unDraw/male.svg" alt="">
            <img class="user2" title="Usuario"  src="/images/unDraw/female.svg" alt="">
            <div class="datos_perfil">
                <div id="form" class="form">
                    <div>
                        <div class="card border-light mb-3" style="max-width: 30rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1>Bienvenido {{user.username}}</h1></font></font></div>
  <div class="card-body">
    <h4 class="card-title"><font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><a href="/usuario/aula"><i class="fas fa-chalkboard-teacher"></i> Aula</a></font>
        </font>
        </h4>
        <br>
        <hr>
        <h4 class="card-title"><font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><a  href="/usuario/calificaciones"> Calificaciones</a></font>
        </font>
        </h4>
        <br>
        <hr>
    <canvas id="myChart" ></canvas>
  </div>
</div>
                     
                    </div>
                </div>
                
        </section>