<section>
        <p class="title">
            José María Morelos
            <br>
            2021 - Aciertos: 86
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1880.9175885549016!2d-99.15436549013172!3d19.46267187468096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8e41a158e5d%3A0x562515911255e28!2zQ0VDeVQgMTIgIkpvc8OpIE1hcsOtYSBNb3JlbG9zIg!5e0!3m2!1ses-419!2smx!4v1634506449710!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">P.º de las Jacarandas 196, Santa María Insurgentes, Cuauhtémoc, 06430 Ciudad de México, CDMX</p>
            <img id="top" class="foto" src="../images/fotos/cecyt12.jpg" alt="Error al cargar (Foto cecyt 12)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Administración <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Contaduría <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Informática <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Mercadotecnia Digital <i class="fas fa-external-link-alt"></i></li></a><br>
            </ul>
        </div>
        
        <div class="carreras">
            <p class="title2"> Técnico en Administración</p>
            <p class="justificado">
                Formar técnicos de gestión competentes y competir con actitud de servicio, poseedores de sólidos valores cívicos y éticos, comprometidos con su trabajo con interoperabilidad profesional en todos los procesos, alto desempeño y actividades productivas los hará destacar en los organismos tanto nacionales como internacionales.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Administración</li>
                        <li><i class="fas fa-pencil-ruler"></i> Derecho Laboral</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Capital Humano</li>
                        <li><i class="fas fa-pencil-ruler"></i> Planeación Estratégica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Habilidades De Negociación Digital</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Sueldos Y Salarios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Organizacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mercadotecnia Digital</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Ética Y Responsabilidad Social</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Inventarios</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Negocios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Calidad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Paquetería Administrativa</li>
                        <li><i class="fas fa-pencil-ruler"></i> Producción</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nociones De Finanzas</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Comercio Internacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dirección Empresarial</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/admin.svg" alt="Error al Cargar" title="Técnico en Administración">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Contaduría</p>
            <p class="justificado">
                Convertirse en el mejor técnico contable de nivel medio superior con base en la filosofía del Instituto Politécnico Nacional, el cual es reconocido por el alto nivel de los estudiantes así como por los buenos logros en el trabajo de los estudiantes Graduado en Contaduría y Administración. En general, por la calidad de sus conocimientos, habilidades, actitudes y valores y de acuerdo con los avances tecnológicos, sociales, económicos y laborales que la empresa requiere.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Organización Empresarial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Aplicación Matemática, Contable Y Administrativa</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal Personas Físicas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Marco Normativo Contable</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal Personas Morales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nociones De Finanzas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Paquetería Contable</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Personalidad Financiera</li>
                        <li><i class="fas fa-pencil-ruler"></i> Negocios Sustentables</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad Social</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nóminas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nociones De Auditoría</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos De Investigación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Contabilidad De Costos</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/money.svg" alt="Error al Cargar" title="Técnico en Contaduría">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Informática</p>
            <p class="justificado">
                Ser la ocupación principal a nivel técnico que capacita a los egresados para ser aceptados competitivamente en el mercado laboral; Con profesores con excelentes planes de carrera y programas de estudio actuales para desarrollar las habilidades de nuestros estudiantes que les permitan crear y / o administrar sistemas de información utilizando tecnología informática.               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Herramientas De Programación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ensamblado Y Mantenimiento De PCs</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Orientada A Objetos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Teleinformática</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Operativos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación De Dispositivos Móviles</li>
                        <li><i class="fas fa-pencil-ruler"></i> Base De Datos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Modelado De Sistemas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Interacción Usuario Computadora</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Producción Multimedia Y Ambientes Virtuales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Web</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Avanzada</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De Proyectos Informáticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Información</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/info.svg" alt="Error al Cargar" title="Técnico en Informática">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Mercadotecnia Digital</p>
            <p class="justificado">
                El técnico de marketing digital desarrollará habilidades específicas para los estudiantes para ayudarlos a crear e implementar estrategias de marketing y ofrecer discursos de valor creativo.
                <br>
                El desarrollo de Internet ha revolucionado el mercado. El ecosistema digital moderno ofrece una serie de ventajas, entre las que se encuentran diversas herramientas que monitorearán las variables que buscan satisfacer las necesidades actuales de las organizaciones. Nuestros graduados, que trabajan en un entorno global competitivo, se esforzarán por el desarrollo sostenible, tendrán una posición de liderazgo y capacitarán a nativos digitales clave para participar en el entorno de su comunidad.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción A La Mercadotecnia Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comportamiento Del Consumidor  Y Neuromarketing</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Desarrollo Del Producto</li>
                        <li><i class="fas fa-pencil-ruler"></i> Investigación De Mercados</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Marca</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mezcla De Mercadotecnia Digital</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Comunicación Mercadológica Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comercio Electrónico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ética Y Legislación Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Contenidos Digitales</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción Al Diseño Gráfico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Habilidades De Negociación Digital</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Métrica Y Analítica Web</li>
                        <li><i class="fas fa-pencil-ruler"></i> Social Media</li>
                        <li><i class="fas fa-pencil-ruler"></i> Economía Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Transformación Digital De Las Organizaciones</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Mercadotecnia Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Negocios Digitales</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/market.svg" alt="Error al Cargar" title="Técnico en Mercadotecnia Digital">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
    
