<section>
        <p class="title">
            Miguel Bernard
            <br>
            2021 - Aciertos: 89
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.0724132979763!2d-99.21531534981017!3d19.452444486808645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2023fc381d09f%3A0x75e119f8d7dfc312!2sCentro%20de%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20No.%202%20%22Miguel%20Bernard%22!5e0!3m2!1ses-419!2smx!4v1634440190872!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">Casa, Av. Nueva, Av. Casa de La Moneda 133, Lomas de Sotelo, Miguel Hidalgo, 11200 Ciudad de México, CDMX</p>
            <img id="top" class="foto" src="/images/fotos/cecyt2.jpg" alt="Error al cargar (Foto cecyt 1)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Aeronáutica <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Dibujo Asistido por Computadora <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Diseño Gráfico Digital <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Máquinas con Sistemas Automatizados <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#e"><i class="fas fa-graduation-cap"></i> Técnico en Mecatrónica <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#f"><i class="fas fa-graduation-cap"></i> Técnico en Metalurgia <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#g"><i class="fas fa-graduation-cap"></i> Técnico en Sistemas Automotrices <i class="fas fa-external-link-alt"></i></li></a><br> 
            </ul>
        </div>
        
        <div class="carreras">
            <p class="title2">Técnico en Aeronáutica</p>
            <p class="justificado">
                En la actualidad, la industria de la aviación está experimentando un fuerte crecimiento en el país debido a la penetración del mercado de aerolíneas de bajo costo, así como al nacimiento de empresas especializadas en la fabricación y ensamblaje de aeronaves.
                <br>
                La profesión de técnico aeronáutico que ofrece el IPN prepara a profesionales técnicos que sean capaces de afrontar los problemas y normativas que exige la industria aeronáutica, reconociendo la importancia de su labor, relacionada con la seguridad del transporte aéreo.
                <br>
                Esta carrera tiene una duración de tres años divididos en seis semestres, y la forma en que se presenta es presencial.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Configuración De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Y Documentación</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electricidad Y Electrónica De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Estructuras De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Las Aeronaves</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica De Las Aeronaves</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Motores De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Materiales Aeronáuticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Navegación Aeronáutica</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Mantenimiento De Las Aeronaves</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Mantenimiento A Sistemas De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Electrónicos De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Reparación Estructural De Las Aeronaves</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/aero.svg" alt="Error al Cargar" title="Técnico en Aeronáutica">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Dibujo Asistido por Computadora</p>
            <p class="justificado">
                Esta profesión proporciona herramientas para que los estudiantes puedan proponer soluciones gráficas en proyectos industriales, científicos, artísticos y educativos, para ayudar en la producción del diseño, y para supervisar y preparar dibujos y planos en aspectos futuros. Asimismo, los estudiantes estarán preparados
                <br>
                Una plataforma para acceder a la investigación de alto nivel, con sentido ético y de responsabilidad ambiental y social.
                <br>
                El objetivo principal del diploma es: “Elaborar dibujos para la presentación de proyectos ejecutivos en las industrias del diseño gráfico, arquitectónico y metalúrgico, aplicando estándares y especificaciones establecidas”.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo De Imitación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Representación Gráfica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Elementos De Comunicación Visual</li>
                        <li><i class="fas fa-pencil-ruler"></i> Fundamentos Del Dibujo Ilustrativo</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo De Elementos Mecánicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Representación Gráfica Por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Elementos Arquitectónicos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Geometría De La Forma</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Volumen</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Representaciones Arquitectónicas Digitales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Proyectos Ejecutivos En La Industria De La Construcción</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tópicos En La Industria De La Transformación</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Sustentabilidad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión Del Dibujo</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Identidad Grafica Corporativa</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Para La Industria Metal Mecánica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Modelado, Animación Y Postproducción</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyecto Integral</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos Empresariales</li>
                    </ul>
                </div>
                <img class="lista__imagen" id = "lista__imagen" src="../images/unDraw/dibujo.svg" alt="Error al Cargar" title="Técnico en Dibujo Asistido por Computadora">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Diseño Gráfico Digital</p>
            <p class="justificado">
                Formación de habilidades para técnicos de alto nivel, producir objetos visuales, basados en estándares de la industria gráfica, responder a las necesidades de comunicación visual de su entorno, así como preparar capacitaciones para manejar estudios intermedios superiores, todo con sentido decisivo, resuelto, creativo y ético.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Lenguaje Visual</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Ilustración</li>
                        <li><i class="fas fa-pencil-ruler"></i> Arquitectura De La Información Y Proceso De Interacción</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Proceso Multimedia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comunicación Gráfica Corporativa</li>
                        <li><i class="fas fa-pencil-ruler"></i> Fotografía Digital</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto De Animación 3D</li>
                        <li><i class="fas fa-pencil-ruler"></i> Composición Editorial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño De Interfaz Y Experiencia De Usuario</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Impresión De Productos Corporativos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Impresión De Productos Industriales </li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto Integral De Video</li>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto Gráfico Integral</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Aplicaciones De Interacción Con Realidad Virtual</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Aplicaciones Híbridas De Interacción</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/pintura.svg" alt="Error al Cargar" title="Técnico en Diseño Gráfica Digital">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Máquinas con Sistemas Automatizados</p>
            <p class="justificado">
                Los estudiantes de técnico en máquinas con sistemas automatizados tienen la capacidad de analizar y resolver problemas y mejorar propuestas basadas en conocimientos teóricos y prácticos que les permitirán prosperar en organizaciones de la industria, metalurgia, alimentos, plásticos, productos farmacéuticos, empaques impresos, empaques o manufactura.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo De Instrumentos de Medición</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación De Elementos Elétricos Y Electrónicos</li>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología De Materiales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos Industriales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Supervisión De Procesos Metalurgicos (MB)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Instrumentación Electrónica En Procesos (JDB)</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo De Elementos De Control</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación De Torno Y Fresadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación De Elementos Hidroneumáticos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Aplicación De Mecanismos En Procesos Industriales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manufactura De Piezas Mecánicas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo De Modelos Por Computadora (MB)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Software De Diseño Electrónico (JDB)</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Mécanico Asistido Por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación De Equipo Electrohidroneumático</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación Con Controladores Lógicos Programables</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Programación De Lenguaje (C)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mantenimiento A Sistemas Automatizados</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control Estadístico Del Procesi (MB)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Visual (JDB)</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Instalación De Sistema Automatizados</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manufactura Asistida Por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación de Sistemas Automatizados</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Integración De Microproyectos Industriales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyecto Tecnológico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos Empresariales (MB)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Negocios</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/maquinas.svg" alt="Error al Cargar" title="Técnico en Máquinas con Sistemas Automatizados">
            </p>
            <a id="e" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Mecatrónica</p>
            <p class="justificado">
                Los trabajos principales de un técnico mecatrónico incluyen la síntesis de campos y sistemas mecánicos, electrónicos y eléctricos. La mecatrónica es un concepto recientemente desarrollado que enfatiza la necesidad de una amplia integración e interacción entre estas áreas, enfocándose en el desarrollo de productos relacionados con los sistemas de control para diseñar sistemas de control. El producto o proceso inteligente.
                <br>
                El Programa Académico de Técnico en Mecatrónica contribuye a la formación integral de estudiantes calificados en el uso de la ciencia y la tecnología para incidir en los procesos de fabricación con base en un sólido conocimiento de la mecánica, electrónica, informática y control para integrar simultáneamente dispositivos y sistemas mecatrónicos, brindando soluciones a Problemas actuales basados en el comportamiento ético y el respeto a la actitud innovadora, empresarial y sostenible.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología y Tecnología de Materiales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrotecnia de Corriente Continua y Corriente Alterna</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Soldadura En Sistemas Mecatrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De La Calidad En Sistemas Mecatrónicos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizado de Piezas para Sistemas Mecatrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción a Sistemas Digitales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Lenguaje de Programación</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Manufactura Avanzada</li>
                        <li><i class="fas fa-pencil-ruler"></i> Simulación De Sistemas Electrónicos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño de Mecanismos Asistidos por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sensores Y Actuadores Electrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dispositivos Lógicos Programables</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Robótica Industrial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño De Aplicaciones Móviles</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electro Neumática</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica De Potencia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Herramientas Computacionales De Vanguardia (CAD, CAM)</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i>Integración De Sistemas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos Mecatrónicos</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/mecatronica.svg" alt="Error al Cargar" title="Técnico en Mecatrónica">
            </p>
            <a id="f" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Metalurgia</p>
            <p class="justificado">
                Formación de técnicos metalúrgicos con conocimientos, estas habilidades le permitirán operar, controlar y tomar medidas para mejorar las operaciones de conversión de metales según estándares internacionales.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Modelos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad De Higiene En La Metalurgia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Supervisión De Procesos Metalurgicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología De Materiales</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Construcción De Modelos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Metalurgia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Productividad En Los Procesos Metalúrgicos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo De Modelos Por Computadores</li>
                        <li><i class="fas fa-pencil-ruler"></i> Refractarios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manufactura De Piezas Mecánicas</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Fusión De Metakes No Ferrosos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Metalurgia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Siderurgia</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>    
                        <li><i class="fas fa-pencil-ruler"></i> Control Estadístico Del Proceso</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tratamientos Térmicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Volumen</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Fusión de Metales Ferrosos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Deformación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Recubrimiento De Superficie</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Modelo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrolo De Proyecto</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrolo De Proyectos Empresariales</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/metal.svg" alt="Error al Cargar" title="Técnico en Metalurgia">
            </p>
            <a id="g" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Sistemas Automotrices</p>
            <p class="justificado">
                Formación de técnicos para reparación y mantenimiento de los vehículos que tiene en cuenta los diferentes requisitos de los fabricantes, equipos de manipulación, materiales y desarrolla habilidades en tecnología mecánica, eléctrica y electrónica para sistemas generales de vehículos.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Del Automóvil</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo De Herramientas Y Equipo De Medición Automotriz</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración Empresarial Automotriz</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Servicio Integral Al Sistema De Frenos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistema De Suspensión Y Dirección Adaptativas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad. Confort Y Aerodinámica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Conducción Y Operación Del Vehículo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Servicio Integral Al Aire Acondicionado </li>
                        <li><i class="fas fa-pencil-ruler"></i> Motores Alternativos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Reacondicionamiento De Motores De Combustión Interna</li>
                        <li><i class="fas fa-pencil-ruler"></i> Modelado Y Ensamblaje En 3D</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Eléctricos Y Electrónicos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Conducción Y Operación Del Vehículo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Servicio Integral Al Aire Acondicionado</li>
                        <li><i class="fas fa-pencil-ruler"></i> Motores Alternativos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnologías De Motores De Combustión Interna</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tren Motriz</li>
                        <li><i class="fas fa-pencil-ruler"></i> Autotrónica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De Proyectos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Combustibles Y Energías Alternativas</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/carro.svg" alt="Error al Cargar" title="Técnico en Sistemas Automotrices">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
