<section>
        <p class="title">
            Lázaro Cárdenas
            <br>
            2021 - Aciertos: 86
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.3795411937804!2d-99.2159742498112!3d19.396000486840798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d201b84380fe63%3A0xce7eaf045c4f0b2d!2sEstadio%20Ing.Jes%C3%BAs%20Morales%20Gonz%C3%A1lez%20Jaguares-Voca%204!5e0!3m2!1ses-419!2smx!4v1634447235005!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">01110 de, Av. de las Torres 934, Belen de las Flores Reacomodo, Álvaro Obregón, Ciudad de México, CDMX</p>
            <img id="top" class="foto" src="../images/fotos/cecyt4.jpg" alt="Error al cargar (Foto cecyt 4)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Aeronáutica <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Construcción <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Instalaciones y Mantenimiento Eléctrico <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Procesos Industriales <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#e"><i class="fas fa-graduation-cap"></i> Técnico en Sistemas Automotrices <i class="fas fa-external-link-alt"></i></li></a><br>
            </ul>
        </div>
        
        <div class="carreras">
            <p class="title2">Técnico en Aeronáutica</p>
            <p class="justificado">
                En la actualidad, la industria de la aviación está experimentando un fuerte crecimiento en el país debido a la penetración del mercado de aerolíneas de bajo costo, así como al nacimiento de empresas especializadas en la fabricación y ensamblaje de aeronaves.
                <br>
                La profesión de técnico aeronáutico que ofrece el IPN prepara a profesionales técnicos que sean capaces de afrontar los problemas y normativas que exige la industria aeronáutica, reconociendo la importancia de su labor, relacionada con la seguridad del transporte aéreo.
                <br>
                Esta carrera tiene una duración de tres años divididos en seis semestres, y la forma en que se presenta es presencial.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Configuración De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Y Documentación</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electricidad Y Electrónica De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Estructuras De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Las Aeronaves</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica De Las Aeronaves</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Motores De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Materiales Aeronáuticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Navegación Aeronáutica</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Mantenimiento De Las Aeronaves</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Mantenimiento A Sistemas De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Electrónicos De Las Aeronaves</li>
                        <li><i class="fas fa-pencil-ruler"></i> Reparación Estructural De Las Aeronaves</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/aero.svg" alt="Error al Cargar" title="Técnico en Aeronáutica">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Construcción</p>
            <p class="justificado">
                La profesión de técnico en construcción brinda competencias especializadas que capacitan a los egresados para realizar tareas de supervisión, regulación y control de la construcción de acuerdo con las necesidades del proyecto; Además de crear tu propio negocio autónomo.
                <br>
                De este objetivo principal surgen las principales funciones que definen los sectores productivos del sector laboral, que para esta profesión consta de cuatro figuras: elaboración de proyectos ejecutivos en dos y tres dimensiones de la casa de acuerdo con la normativa vigente, elaboración de levantamientos topográficos respetando la normativa vigente.Supervisar el sistema constructivo y realizar las obras según normativa vigente y gestionar materiales, finanzas y recursos humanos. Fortaleza del proyecto de acuerdo con la normativa establecida.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Materiales Y Tecnologías Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procedimientos Constructivos de Obra Negra</li>
                        <li><i class="fas fa-pencil-ruler"></i> Planimetría Aplicada</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Higiene, Seguridad y Protección Civil</li>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación en la Construcción</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Arquitectónico Asistido Por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Instalaciones Básicas Sustentables</li>
                        <li><i class="fas fa-pencil-ruler"></i> Altimetría Aplicada</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizados Y Prefabicados</li>
                        <li><i class="fas fa-pencil-ruler"></i> Formacion de Emprendedores</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Acabados en la Construcción</li>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis de Costos en la Construcción</li>
                        <li><i class="fas fa-pencil-ruler"></i> Representación Arquitectónico Virtual</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Estructural Asistido por Computadora</li>
                    </ul>
                </div>
                <div class="lista" id="lista__margen">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Maquetas Arquitectónicas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Criterio Estructural</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración de Obras</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto Integral</li>
                        <li><i class="fas fa-pencil-ruler"></i> Supervisión de Obras</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/construccion.svg" alt="Error al Cargar" title="Técnico en Construcción">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Instalaciones y Mantenimiento Eléctrico</p>
            <p class="justificado">
                Planificación para instalar, operar y mantener sistemas eléctricos de baja y media tensión para apoyar el proceso de producción según la normativa vigente.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Instalaciones Eléctricas Residenciales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mediciones Eléctricas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Fundamentos Y Análisis De Circuitos Eléctricos I</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Instalaciones Eléctricas Comerciales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Maquinas Eléctricas I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Fundamentos Y Análisis De Circuitos Eléctricos II</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica 1</li>
                        <li><i class="fas fa-pencil-ruler"></i> Simulación Por Computadora Y Programación.</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Instalaciones Eléctricas Industriales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Maquinas Eléctricas II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Control Eléctrico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Eléctricos De Emergencia Y Energías Renovables</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica 2</li>
                        <li><i class="fas fa-pencil-ruler"></i> Iluminación Y Domótica</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Subestaciones Eléctricas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Supervisión Y Técnicas De Mantenimiento</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Control Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto Terminal</li>
                </div>
                <img class="lista__imagen" src="../images/unDraw/energia.svg" alt="Error al Cargar" title="Técnico en Instalaciones y Mantenimiento Eléctrico">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Procesos Industriales</p>
            <p class="justificado">
                Los técnicos de procesos industriales adquirirán las habilidades para fabricar productos metalúrgicos utilizando nuevos procesos y formas de producción, así como la capacidad de operar máquinas herramienta tradicionales, programar máquinas herramienta CNC, aplicar control estadístico de la calidad del producto y gestionar procesos. Fabricación, diseño mecánico asistido por computadora, operación de equipos de calibración y medición digital y gestión de sistemas de automatización industrial.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología De Los Materiales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología Dimensional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Organización Y Seguridad Industrial</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizado En Torno Paralelo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología Geométrica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos En Soldadura</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión Y Mantenimiento De La Producción</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos En Torno Por CAM</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Mecánico Asistido Por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizado En Fresadora Universal</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Hidráulicos Y Neumáticos Automatizados</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Hidráulica De Potencia Y Automatización</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos En Fresadora Por CAM</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizados Especiales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión Y Estadística De La Calidad</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos Sustentables</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/industrial.svg" alt="Error al Cargar" title="Técnico en Procesos Industriales">
            </p>
            <a id="e"href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Sistemas Automotrices</p>
            <p class="justificado">
                Formación de técnicos para reparación y mantenimiento de los vehículos que tiene en cuenta los diferentes requisitos de los fabricantes, equipos de manipulación, materiales y desarrolla habilidades en tecnología mecánica, eléctrica y electrónica para sistemas generales de vehículos.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Del Automóvil</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo De Herramientas Y Equipo De Medición Automotriz</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración Empresarial Automotriz</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Servicio Integral Al Sistema De Frenos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistema De Suspensión Y Dirección Adaptativas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad. Confort Y Aerodinámica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Conducción Y Operación Del Vehículo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Servicio Integral Al Aire Acondicionado </li>
                        <li><i class="fas fa-pencil-ruler"></i> Motores Alternativos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Reacondicionamiento De Motores De Combustión Interna</li>
                        <li><i class="fas fa-pencil-ruler"></i> Modelado Y Ensamblaje En 3D</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Eléctricos Y Electrónicos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Conducción Y Operación Del Vehículo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Servicio Integral Al Aire Acondicionado</li>
                        <li><i class="fas fa-pencil-ruler"></i> Motores Alternativos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnologías De Motores De Combustión Interna</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tren Motriz</li>
                        <li><i class="fas fa-pencil-ruler"></i> Autotrónica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De Proyectos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Combustibles Y Energías Alternativas</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/carro.svg" alt="Error al Cargar" title="Técnico en Sistemas Automotrices">
            </p>
            <a id="f" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
   
