<section>
        <p class="title">
            Diódoro Antúnez Echegaray
            <br>
            2021 - Aciertos: 90
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.209874569243!2d-99.11734204981028!3d19.446516086811936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f945780d3bb9%3A0xc8ae18bc4414d38a!2sCentro%20de%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20N%C2%B0%2014%20%22Luis%20Enrique%20Erro%20Soler%22%20IPN!5e0!3m2!1ses-419!2smx!4v1634507780028!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">Calle Gastón Melo #41 Col. San Antonio Tecómitl, Milpa Alta.CP.12100, Ciudad de México. Tels.: 57296000, 57296300, 56242000. ext. 42029</p>
            <img id="top" class="foto" src="../images/fotos/cecyt15.jpg" alt="Error al cargar (Foto cecyt 15)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Alimentos <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Laboratorista Clínico <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Nutrición Humana <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Sustentabilidad <i class="fas fa-external-link-alt"></i></li></a><br>
            </ul>
        </div>
        
        <div class="carreras">
            <p class="title2">Técnico en Alimentos</p>
            <p class="justificado">
                Un técnico de alimentos es la persona responsable de organizar y dirigir los productos o servicios alimentarios. Los técnicos de alimentos trabajan con el personal administrativo y de seguridad en todos los aspectos de la preparación y manipulación de alimentos. Funciona para garantizar que los alimentos y el equipo se manipulen de forma segura y que los alimentos se cocinen correctamente. Esto significa que el técnico de alimentos trabajará con el personal administrativo y de seguridad para garantizar la calidad de los alimentos, la limpieza de la cocina y el correcto funcionamiento del equipo. Además, el técnico de alimentos también ayudará a administrar el proceso de cocción y servicio y se asegurará de que la comida esté bien cocida. También ayudará con la limpieza básica.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Principios De Análisis De Alimentos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Higiene Y Seguridad En La Industria Alimentaria</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Bioquímica De Los Alimentos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Microbiología De Los Alimentos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Aditivos Alimentarios</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Alimentos Y Bebidas Fermentadas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Frutas, Verduras Y Cereales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos Administrativos En La Industria Alimentaria</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Envases</li>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis Sensorial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Toxicología De Alimentos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Productos Lácteos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Productos Cárnicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Calidad En La Industria Alimentaria</li>
                        <li><i class="fas fa-pencil-ruler"></i> Formulación Y Evaluación De Proyectos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Marketing Y Realidad Aumentada</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnologías Alimentarias En Alimentos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tradicionales De México</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas Culinarias Moleculares</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/comida2.svg" alt="Error al Cargar" title="Técnico en Alimentos">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Laboratorista Clínico</p>
            <p class="justificado">
                Capacitación de técnicos de laboratorio químico altamente calificados y competitivos en análisis físicos, químicos y biológicos de alimentos, bebidas, productos farmacéuticos y químicos en general; Con actitud de servicio, portadora de valores cívicos y éticos, comprometidos en trabajar interactivamente con profesionalismo en el desempeño industrial de nuestro país.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Técnica Y Calidad Instrumental I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Higiene, Seguridad Y Control De Residuos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Técnica Y Calidad Instrumental II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis Químico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Optimización De Recursos Productivos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis Y Tratamiento De Agua</li>
                        <li><i class="fas fa-pencil-ruler"></i> Uso Y Regulación De Aditivos Químicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control Sanitario Microbiológico</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Desarrollo De Proyectos I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Y Diseño De Nuevos Productos I</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis De Alimentos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología Química</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control De La Calidad De Procesos Productivos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Desarrollo De Proyectos II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Y Diseño De Nuevos Productos II</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/laboratorio.svg" alt="Error al Cargar" title="Técnico en Laboratorista Clínico">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Nutrición Humana</p>
            <p class="justificado">
                En ésta carrera se busca la formación integral de Técnicos en Nutrición con una concepción humanista utilizando la ciencia y la tecnología en el ejercicio profesional para responder a los retos nutricionales que enfrenta la población mexicana
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción A La Ciencia De La Nutrición Humana</li>
                        <li><i class="fas fa-pencil-ruler"></i> Anatomía Y Fisiología Del Aparato Digestivo</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Nutrición En El Ciclo De La Vida</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nutrición  Y Enfermedad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculo Dietético</li>
                        <li><i class="fas fa-pencil-ruler"></i> Evaluación Del Estado De Nutrición</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Planes De Alimentación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Servicios De Alimentación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo Y Control De Calidad En Servicios De Alimentación</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas Culinarias</li>
                        <li><i class="fas fa-pencil-ruler"></i> Empleo De Alimentos Procesados En Servicios De Alimentación</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Para La Atención Nutricional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Educación Nutricional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sobrepeso Y Obesidad: Tratamiento Nutricional Básico</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto De Un Servicio De Alimentación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Transtornos De La Alimentación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Panorama Nutricional De México</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/nutricion.svg" alt="Error al Cargar" title="Técnico en Nutrición Humana">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Sustentabilidad</p>
            <p class="justificado">
                El egresado de esta carrera obtendrá una formación en ciencias, ingeniería y humanidades que le permitirá observar y actuar de manera responsable, respetuosa y de acuerdo con las leyes aplicables desde diferentes perspectivas para prevenir y solucionar problemas relacionados con la productividad sostenible. , Manteniendo los elementos ambientales saludables, contribuyendo así al desarrollo de México.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción Al Medio Ambiente Y Sustentabilidad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ecología Y Economía</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Química Ambiental</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ética Y Normatividad Ambiental</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Huella Ecológica Y Tecnologías Para La Sustentabilidad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Instrumentación Y Monitoreo Ambiental</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistema De Información Geográfica </li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Prospectiva Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sustentabilidad Y Calidad De Vida</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Prefactibilidad Del Proyecto</li>
                        <li><i class="fas fa-pencil-ruler"></i> Estudio De Los Ecosistemas Regionales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química Verde</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Etnoecología Y Patrimonio Biocultural</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ecotecnologías Y Sistemas De Producción Sustentables</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De Proyectos Sustentables</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Innovación Tecnológica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo Integral De Residuos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Estudio De Impacto Ambiental</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/susten.svg" alt="Error al Cargar" title="Técnico en Sustentabilidad">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
    
