 <section>
        <p class="title">
            Juan de Dios Bátiz
            <br>
            2021 - Aciertos: 105
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d881.7668256201082!2d-99.1757558992508!3d19.45347513792021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8bd9770140b%3A0x8944ef4b181bd448!2sMar%20Mediterr%C3%A1neo%20227%2C%20Nextitla%2C%20Miguel%20Hidalgo%2C%2011420%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1634506493720!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">Mar Mediterráneo # 227 | Col. Popotla | Del. Miguel Hidalgo | C.P. 11400 | Ciudad de México</p>
            <img id="top" class="foto" src="../images/fotos/cecyt9.png" alt="Error al cargar (Foto cecyt 9)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Desarrollo de Software <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Máquinas con Sistemas Automatizados <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Mecatrónica <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Programación <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#e"><i class="fas fa-graduation-cap"></i> Técnico en Sistemas Digitales <i class="fas fa-external-link-alt"></i></li></a><br>
            </ul>
        </div>
        <div class="carreras">
            <p class="title2">Técnico en Desarrollo de Software</p>
            <p class="justificado">
                Satisfacer las necesidades de aprendizaje de la empresa para egresados de la especialización en desarrollo de software que posean las habilidades más demandadas en la industria del software en México.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Orientada A Objetos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Proyectos de La Información I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Proyectos De La Tecnologías De La Información</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Y Servicios Web</li>
                        <li><i class="fas fa-pencil-ruler"></i> Bases De Datos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Proyectos de La Información II</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Proyectos De La Tecnologías De La Información II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Programación Personal Con Calidad</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción A Los Sistemas Distribuidos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción A La Ingeniería De Pruebas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad Web Y Aplicaciones</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Proyectos de La Información III</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Automatización De Pruebas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Humano Y Personal</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Métodos Ágiles De Programación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Soporte De Software</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ingeniería De Software Básica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Proyectos de La Información IV</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Negocios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto Integrador</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/progra2.svg" alt="Error al Cargar" title="Técnico en Desarrollo En Software">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Máquinas con Sistemas Automatizados</p>
            <p class="justificado">
                Los estudiantes de técnico en máquinas con sistemas automatizados tienen la capacidad de analizar y resolver problemas y mejorar propuestas basadas en conocimientos teóricos y prácticos que les permitirán prosperar en organizaciones de la industria, metalurgia, alimentos, plásticos, productos farmacéuticos, empaques impresos, empaques o manufactura.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo De Instrumentos de Medición</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación De Elementos Elétricos Y Electrónicos</li>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología De Materiales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos Industriales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Supervisión De Procesos Metalurgicos (MB)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Instrumentación Electrónica En Procesos (JDB)</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo De Elementos De Control</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación De Torno Y Fresadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación De Elementos Hidroneumáticos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Aplicación De Mecanismos En Procesos Industriales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manufactura De Piezas Mecánicas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo De Modelos Por Computadora (MB)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Software De Diseño Electrónico (JDB)</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Mécanico Asistido Por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación De Equipo Electrohidroneumático</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación Con Controladores Lógicos Programables</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Programación De Lenguaje (C)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mantenimiento A Sistemas Automatizados</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control Estadístico Del Procesi (MB)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Visual (JDB)</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Instalación De Sistema Automatizados</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manufactura Asistida Por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación de Sistemas Automatizados</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Integración De Microproyectos Industriales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyecto Tecnológico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos Empresariales (MB)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Negocios</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/maquinas.svg" alt="Error al Cargar" title="Técnico en Máquinas con Sistemas Automatizados">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Mecatrónica</p>
            <p class="justificado">
                Los trabajos principales de un técnico mecatrónico incluyen la síntesis de campos y sistemas mecánicos, electrónicos y eléctricos. La mecatrónica es un concepto recientemente desarrollado que enfatiza la necesidad de una amplia integración e interacción entre estas áreas, enfocándose en el desarrollo de productos relacionados con los sistemas de control para diseñar sistemas de control. El producto o proceso inteligente.
                <br>
                El Programa Académico de Técnico en Mecatrónica contribuye a la formación integral de estudiantes calificados en el uso de la ciencia y la tecnología para incidir en los procesos de fabricación con base en un sólido conocimiento de la mecánica, electrónica, informática y control para integrar simultáneamente dispositivos y sistemas mecatrónicos, brindando soluciones a Problemas actuales basados en el comportamiento ético y el respeto a la actitud innovadora, empresarial y sostenible.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología y Tecnología de Materiales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrotecnia de Corriente Continua y Corriente Alterna</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Soldadura En Sistemas Mecatrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De La Calidad En Sistemas Mecatrónicos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizado de Piezas para Sistemas Mecatrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción a Sistemas Digitales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Lenguaje de Programación</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Manufactura Avanzada</li>
                        <li><i class="fas fa-pencil-ruler"></i> Simulación De Sistemas Electrónicos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño de Mecanismos Asistidos por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sensores Y Actuadores Electrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dispositivos Lógicos Programables</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Robótica Industrial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño De Aplicaciones Móviles</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electro Neumática</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica De Potencia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Herramientas Computacionales De Vanguardia (CAD, CAM)</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i>Integración De Sistemas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos Mecatrónicos</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/mecatronica.svg" alt="Error al Cargar" title="Técnico en Mecatrónica">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Programación</p>
            <p class="justificado">
                El Técnico de Programación podrá realizar las siguientes actividades: Brindar soporte técnico para el resto de las funciones en la creación del diseño y análisis de la especificación del modelo. Desde procesos de prueba, diseño y construcción de GUI hasta desarrollo de prototipos de interfaz de usuario en el campo de la profesión
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Orientada A Objetos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Proyectos de La Información I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Proyectos De La Tecnologías De La Información</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Y Servicios Web</li>
                        <li><i class="fas fa-pencil-ruler"></i> Bases De Datos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Proyectos de La Información II</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Proyectos De La Tecnologías De La Información II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Programación Personal Con Calidad</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción A Los Sistemas Distribuidos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción A La Ingeniería De Pruebas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad Web Y Aplicaciones</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Proyectos de La Información III</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Automatización De Pruebas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Humano Y Personal</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Métodos Ágiles De Programación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Soporte De Software</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ingeniería De Software Básica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Proyectos de La Información IV</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Negocios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto Integrador</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/progra.svg" alt="Error al Cargar" title="Técnico en Programación ;)">
            </p>
            <a id="e" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Sistemas Digitales</p>
            <p class="justificado">
                La carrera de Técnico en Sistemas digitales tiene como propósito: manejar en forma integral equipo electrónico digital, para satisfacer a los diferentes sectores de la actividad productiva, con un enfoque de calidad.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Circuitos Lógicos Combinatorios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Circuitos Lógicos Combinatorios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Instrumentación Electrónica</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Circuitos Lógicos Secuenciales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Elementos Electrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Lenguaje De Programación</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Software De Diseño Electrónico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Aplicaciones De Dispositivos Móviles</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Arquitectura De Microcontroladores</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dispositivos Electrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica Analógica Y Digital</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Acondicionamiento De Sistemas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Orientada A Objetos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Aplicaciones Con Microcontroladores</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mantenimiento De Equipo Electrónico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Redes Digitales</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Control Y Automatización</li>
                        <li><i class="fas fa-pencil-ruler"></i> Internet De Las Cosas</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/digital.svg" alt="Error al Cargar" title="Técnico en Sistemas Digitales">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
    
