<section>
        <p class="title">
            Benito Juárez
            <br>
            2021 - Aciertos: 91
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.567478260299!2d-99.15260614981055!3d19.43108528682081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff2b6e0540e3%3A0x73e89933939aab17!2sCentro%20de%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20N%C2%B0%205%20%22Benito%20Ju%C3%A1rez%22%20IPN!5e0!3m2!1ses-419!2smx!4v1634447848460!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">Emilio Donde 1, Colonia Centro, Centro, Cuauhtémoc, 06040 Ciudad de México, CDMX</p>
            <img id="top" class="foto" src="../images/fotos/cecyt5.jpg" alt="Error al cargar (Foto cecyt 5)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Comercio Internacional <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Contaduría <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Informática <i class="fas fa-external-link-alt"></i></li></a><br> 
            </ul>
        </div>
        
        <div class="carreras">
            <p class="title2">Técnico en Comercio Internacional</p>
            <p class="justificado">
                La profesión líder en la formación de técnicos líderes en comercio internacional con alta calidad académica respaldada por tecnologías de la información y la comunicación competitivas a nivel nacional e internacional les permite incorporarse a instituciones de educación superior y adaptarse fácilmente a las necesidades de la fuerza laboral; Interactuar profesionalmente en el intercambio de bienes y servicios en el mercado internacional; Proyectos pioneros de toma de decisiones que integran grupos de trabajo de auditoría y crean nuevos procesos a través de una filosofía de servicio, honestidad e integridad
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Mercadotecnia Internacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comercio Internacional</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tratados Y Acuerdos Del Comercio Exterior Mexicano</li>
                        <li><i class="fas fa-pencil-ruler"></i> Geopolítica Económica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> E- Commerce Y Mercadotecnia De Servicios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Negociaciones Creativas Con Clientes, Socios Y Reguladores Internacionales</li>
                        <li><i class="fas fa-pencil-ruler"></i> </li>
                        <li><i class="fas fa-pencil-ruler"></i> </li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Régimen Legal De Comercio Exterior Mexicano</li>
                        <li><i class="fas fa-pencil-ruler"></i> Logística Internacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Aduanera</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Administración Y Finanzas En El Comercio Exterior</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De Negocios Internacionales</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Financiamiento</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Clasificación Arancelaria</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos De Exportación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología Digital En El Comercio Internacional</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Sustentable En El Comercio Internacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Cadenas De Suministro Internacionales</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/internacional.svg" alt="Error al Cargar" title="Técnico en Comercio Internacional">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Contaduría</p>
            <p class="justificado">
                Convertirse en el mejor técnico contable de nivel medio superior con base en la filosofía del Instituto Politécnico Nacional, el cual es reconocido por el alto nivel de los estudiantes así como por los buenos logros en el trabajo de los estudiantes Graduado en Contaduría y Administración. En general, por la calidad de sus conocimientos, habilidades, actitudes y valores y de acuerdo con los avances tecnológicos, sociales, económicos y laborales que la empresa requiere.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Organización Empresarial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Aplicación Matemática, Contable Y Administrativa</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal Personas Físicas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Marco Normativo Contable</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal Personas Morales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nociones De Finanzas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Paquetería Contable</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Personalidad Financiera</li>
                        <li><i class="fas fa-pencil-ruler"></i> Negocios Sustentables</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad Social</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nóminas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nociones De Auditoría</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos De Investigación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Contabilidad De Costos</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/money.svg" alt="Error al Cargar" title="Técnico en Contaduría">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Informática</p>
            <p class="justificado">
                Ser la ocupación principal a nivel técnico que capacita a los egresados para ser aceptados competitivamente en el mercado laboral; Con profesores con excelentes planes de carrera y programas de estudio actuales para desarrollar las habilidades de nuestros estudiantes que les permitan crear y / o administrar sistemas de información utilizando tecnología informática.               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Herramientas De Programación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ensamblado Y Mantenimiento De PCs</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Orientada A Objetos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Teleinformática</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Operativos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación De Dispositivos Móviles</li>
                        <li><i class="fas fa-pencil-ruler"></i> Base De Datos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Modelado De Sistemas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Interacción Usuario Computadora</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Producción Multimedia Y Ambientes Virtuales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Web</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Avanzada</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De Proyectos Informáticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Información</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/info.svg" alt="Error al Cargar" title="Técnico en Informática">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
    
