<section>
        <p class="title">
            Luis Enrique Erro
            <br>
            2021 - Aciertos: 87
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.209874569243!2d-99.11734204981028!3d19.446516086811936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f945780d3bb9%3A0xc8ae18bc4414d38a!2sCentro%20de%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20N%C2%B0%2014%20%22Luis%20Enrique%20Erro%20Soler%22%20IPN!5e0!3m2!1ses-419!2smx!4v1634507780028!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">Peluqueros S/N, Michoacana, Gustavo A. Madero, 15240 Ciudad de México, CDMX</p>
            <img id="top" class="foto" src="../images/fotos/cecyt14.jfif" alt="Error al cargar (Foto cecyt 14)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Administración de Recursos Humanos <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Contaduría <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Informática <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Mercadotecnia <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#e"><i class="fas fa-graduation-cap"></i> Técnico en Mercadotecnia Digital <i class="fas fa-external-link-alt"></i></li></a><br>
            </ul>
        </div>
        
        <div class="carreras">
            <p class="title2"> Técnico en Administración de Recursos Humanos</p>
            <p class="justificado">
                Convertirse en uno de los mejores Licenciados en Tecnología en Método No Escolar en Ciencias Sociales Competitivas y Gestión con un programa de desempeño integral, flexible y actualizado dentro de un marco ético y ético. Cualidades humanas capaces de mejorar y mejorar el bienestar de los graduados; Diseño y promoción enfocados a encontrar soluciones alternativas a problemas empresariales.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Administración</li>
                        <li><i class="fas fa-pencil-ruler"></i> Planeación Estratégica</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Reclutamiento Y Selección De Personal</li>
                        <li><i class="fas fa-pencil-ruler"></i> Contratación E Inducción A La Empresa</li>
                        <li><i class="fas fa-pencil-ruler"></i> Derecho Laboral</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculo De Nómina</li>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis De Puestos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Estructura Fiscal Y De Seguridad Social En La Relación Laboral</li>
                        <li><i class="fas fa-pencil-ruler"></i> Capacitación Y Desarrollo</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad Y Protección Civil En Las Organizaciones</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión Del Capital Humano</li>
                        <li><i class="fas fa-pencil-ruler"></i> Valuación De Puestos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto De Recursos Humanos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De La Calidad</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/humanos.svg" alt="Error al Cargar" title="Técnico en Administración De Recursos Humanso">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Contaduría</p>
            <p class="justificado">
                Convertirse en el mejor técnico contable de nivel medio superior con base en la filosofía del Instituto Politécnico Nacional, el cual es reconocido por el alto nivel de los estudiantes así como por los buenos logros en el trabajo de los estudiantes Graduado en Contaduría y Administración. En general, por la calidad de sus conocimientos, habilidades, actitudes y valores y de acuerdo con los avances tecnológicos, sociales, económicos y laborales que la empresa requiere.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Organización Empresarial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Aplicación Matemática, Contable Y Administrativa</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal Personas Físicas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Marco Normativo Contable</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal Personas Morales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nociones De Finanzas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Paquetería Contable</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Personalidad Financiera</li>
                        <li><i class="fas fa-pencil-ruler"></i> Negocios Sustentables</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad Social</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nóminas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nociones De Auditoría</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos De Investigación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Contabilidad De Costos</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/money.svg" alt="Error al Cargar" title="Técnico en Contaduría">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Informática</p>
            <p class="justificado">
                Ser la ocupación principal a nivel técnico que capacita a los egresados para ser aceptados competitivamente en el mercado laboral; Con profesores con excelentes planes de carrera y programas de estudio actuales para desarrollar las habilidades de nuestros estudiantes que les permitan crear y / o administrar sistemas de información utilizando tecnología informática.               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Herramientas De Programación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ensamblado Y Mantenimiento De PCs</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Orientada A Objetos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Teleinformática</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Operativos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación De Dispositivos Móviles</li>
                        <li><i class="fas fa-pencil-ruler"></i> Base De Datos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Modelado De Sistemas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Interacción Usuario Computadora</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Producción Multimedia Y Ambientes Virtuales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Web</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Avanzada</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De Proyectos Informáticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Información</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/info.svg" alt="Error al Cargar" title="Técnico en Informática">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Mercadotecnia</p>
            <p class="justificado">
                Carreras líderes en ciencias sociales y administración de manera no académica, capacitando a tecnólogos de marketing calificados y competitivos en sus campos para convertirse en expertos en éxito empresarial. Esta capacitación se realiza con el apoyo de docentes con su excelente calificación y educación, aplicando planes y currículos existentes que permitirán a los egresados desarrollar sus calificaciones y habilidades para impulsar e incrementar las ventas de la institución mediante el uso de herramientas especializadas.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Fundamentos Y Elementos De La Mercadotecnia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comportamiento Del Comsumidor</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Investigación De Mercados</li>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Desarrollo Del Producto</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Comportamiento Organizacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Marca</li>
                        <li><i class="fas fa-pencil-ruler"></i> Realidad Virtual</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Publicidad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Promoción De Ventas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tácticas Y Estratégias De Las Ventas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Logística Y Canales de Distribución</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Mercadotecnia Directa</li>
                        <li><i class="fas fa-pencil-ruler"></i> Habilidades Directivas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Marco Normativo Contable</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Mercadotecnia Internacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Promoción Y Gestión De Empresas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Relaciones Públicas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Ventas</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Seminario De Mercadotecnia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mercadotecnia Social</li>
                        <li><i class="fas fa-pencil-ruler"></i> Laboratorio De Contaduría</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/market2.svg" alt="Error al Cargar" title="Técnico en Mercadotecnia">
            </p>
            <a id="e" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Mercadotecnia Digital</p>
            <p class="justificado">
                El técnico de marketing digital desarrollará habilidades específicas para los estudiantes para ayudarlos a crear e implementar estrategias de marketing y ofrecer discursos de valor creativo.
                <br>
                El desarrollo de Internet ha revolucionado el mercado. El ecosistema digital moderno ofrece una serie de ventajas, entre las que se encuentran diversas herramientas que monitorearán las variables que buscan satisfacer las necesidades actuales de las organizaciones. Nuestros graduados, que trabajan en un entorno global competitivo, se esforzarán por el desarrollo sostenible, tendrán una posición de liderazgo y capacitarán a nativos digitales clave para participar en el entorno de su comunidad.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción A La Mercadotecnia Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comportamiento Del Consumidor  Y Neuromarketing</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Desarrollo Del Producto</li>
                        <li><i class="fas fa-pencil-ruler"></i> Investigación De Mercados</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Marca</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mezcla De Mercadotecnia Digital</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Comunicación Mercadológica Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comercio Electrónico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ética Y Legislación Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Contenidos Digitales</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción Al Diseño Gráfico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Habilidades De Negociación Digital</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Métrica Y Analítica Web</li>
                        <li><i class="fas fa-pencil-ruler"></i> Social Media</li>
                        <li><i class="fas fa-pencil-ruler"></i> Economía Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Transformación Digital De Las Organizaciones</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Mercadotecnia Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Negocios Digitales</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/market.svg" alt="Error al Cargar" title="Técnico en Mercadotecnia Digital">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
    
