<section>
        <p class="title">
            Wilfrido Massieu
            <br>
            2021 - Aciertos: 85
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.052346297181!2d-99.16837124981015!3d19.453309786808124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8c0485ddcef%3A0x8284c3cef93733ae!2sCentro%20de%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20N%C2%B0%2011%20%22Wilfrido%20Massieu%22%20IPN!5e0!3m2!1ses-419!2smx!4v1634505730180!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">Av. de los Maestros No. 217, Casco de Santo Tomás, Agricultura, Miguel Hidalgo, 11340 Ciudad de México, CDMX</p>
            <img id="top" class="foto" src="../images/fotos/cecyt11.jpg" alt="Error al cargar (Foto cecyt 11)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            Técnico en Construcción
            Técnico en Energía Sustentable
            Técnico en Instalaciones y Mantenimiento Eléctrico
            Técnico en Procesos Industriales
            Técnico en Procesos Industriales
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Construcción <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Energía Sustentable <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Instalaciones y Mantenimiento Eléctrico <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Procesos Industriales <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#e"><i class="fas fa-graduation-cap"></i> Técnico en Telecomunicaciones <i class="fas fa-external-link-alt"></i></li></a><br>
            </ul>
        </div>
        
        <div class="carreras">
            <p class="title2">Técnico en Construcción</p>
            <p class="justificado">
                La profesión de técnico en construcción brinda competencias especializadas que capacitan a los egresados para realizar tareas de supervisión, regulación y control de la construcción de acuerdo con las necesidades del proyecto; Además de crear tu propio negocio autónomo.
                <br>
                De este objetivo principal surgen las principales funciones que definen los sectores productivos del sector laboral, que para esta profesión consta de cuatro figuras: elaboración de proyectos ejecutivos en dos y tres dimensiones de la casa de acuerdo con la normativa vigente, elaboración de levantamientos topográficos respetando la normativa vigente.Supervisar el sistema constructivo y realizar las obras según normativa vigente y gestionar materiales, finanzas y recursos humanos. Fortaleza del proyecto de acuerdo con la normativa establecida.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Materiales Y Tecnologías Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procedimientos Constructivos de Obra Negra</li>
                        <li><i class="fas fa-pencil-ruler"></i> Planimetría Aplicada</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Higiene, Seguridad y Protección Civil</li>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación en la Construcción</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Arquitectónico Asistido Por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Instalaciones Básicas Sustentables</li>
                        <li><i class="fas fa-pencil-ruler"></i> Altimetría Aplicada</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizados Y Prefabicados</li>
                        <li><i class="fas fa-pencil-ruler"></i> Formacion de Emprendedores</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Acabados en la Construcción</li>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis de Costos en la Construcción</li>
                        <li><i class="fas fa-pencil-ruler"></i> Representación Arquitectónico Virtual</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Estructural Asistido por Computadora</li>
                    </ul>
                </div>
                <div class="lista" id="lista__margen">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Maquetas Arquitectónicas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Criterio Estructural</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración de Obras</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto Integral</li>
                        <li><i class="fas fa-pencil-ruler"></i> Supervisión de Obras</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/construccion.svg" alt="Error al Cargar" title="Técnico en Construcción">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Energía Sustentable</p>
            <p class="justificado">
                Las perspectivas de crecimiento energético sostenible en México y el mundo son favorables porque la energía es un recurso importante para el desarrollo económico de cualquier país; La demanda de recursos humanos especializados en este campo aumenta día a día; Por ello, en el Programa Técnico Académico en Energía Sostenible, el IPN es profesionales a nivel técnico en el desarrollo de soluciones para la instalación, operación y mantenimiento de sistemas de producción, transmisión y distribución. El intercambio y uso de energía de fuentes sostenibles, a través del Aplicación de la eficiencia energética para incrementar la competitividad de los organismos públicos y privados, en el marco del medio ambiente y la legislación y la tecnología, a través de un proceso de formación multidisciplinar, con el objetivo de contribuir al desarrollo económico y social de las personas.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Solarimetría</li>
                        <li><i class="fas fa-pencil-ruler"></i> Equipos Y Componentes De Sistemas Sustentables</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Energía Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación En Lenguaje C</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electrotecnia Básica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño E Interpretación De Planos Para </li>
                        <li><i class="fas fa-pencil-ruler"></i> Proyectos Solar-Térmico Instalaciones Solares Térmicas</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología Aplicada En Sistemas De Energía Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Lenguajes De Programación</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología Eléctrica Y Electrónica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño E Interpretación De Planos Para Proyectos Solar-Fotovoltaico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Instalaciones Solares Fotovoltaicas</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Proyectos Comunitarios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Orientada A Objetos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Eficiencia Energética</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tendencias De La Energía Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Gestión De La Energía</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Valoración Económica Y Ambiental De Proyectos De Energía Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Interconexión De Sistemas Fotovoltaicos A La Red</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/energia 2.svg" alt="Error al Cargar" title="Técnico en Energía Sustentable">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Instalaciones y Mantenimiento Eléctrico</p>
            <p class="justificado">
                Planificación para instalar, operar y mantener sistemas eléctricos de baja y media tensión para apoyar el proceso de producción según la normativa vigente.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Instalaciones Eléctricas Residenciales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mediciones Eléctricas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Fundamentos Y Análisis De Circuitos Eléctricos I</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Instalaciones Eléctricas Comerciales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Maquinas Eléctricas I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Fundamentos Y Análisis De Circuitos Eléctricos II</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica 1</li>
                        <li><i class="fas fa-pencil-ruler"></i> Simulación Por Computadora Y Programación.</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Instalaciones Eléctricas Industriales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Maquinas Eléctricas II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Control Eléctrico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Eléctricos De Emergencia Y Energías Renovables</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica 2</li>
                        <li><i class="fas fa-pencil-ruler"></i> Iluminación Y Domótica</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Subestaciones Eléctricas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Supervisión Y Técnicas De Mantenimiento</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Control Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto Terminal</li>
                </div>
                <img class="lista__imagen" src="../images/unDraw/energia.svg" alt="Error al Cargar" title="Técnico en Instalaciones y Mantenimiento Eléctrico">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Procesos Industriales</p>
            <p class="justificado">
                Los técnicos de procesos industriales adquirirán las habilidades para fabricar productos metalúrgicos utilizando nuevos procesos y formas de producción, así como la capacidad de operar máquinas herramienta tradicionales, programar máquinas herramienta CNC, aplicar control estadístico de la calidad del producto y gestionar procesos. Fabricación, diseño mecánico asistido por computadora, operación de equipos de calibración y medición digital y gestión de sistemas de automatización industrial.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología De Los Materiales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología Dimensional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Organización Y Seguridad Industrial</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizado En Torno Paralelo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología Geométrica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos En Soldadura</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión Y Mantenimiento De La Producción</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos En Torno Por CAM</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Mecánico Asistido Por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizado En Fresadora Universal</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Hidráulicos Y Neumáticos Automatizados</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Hidráulica De Potencia Y Automatización</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos En Fresadora Por CAM</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizados Especiales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión Y Estadística De La Calidad</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos Sustentables</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/industrial.svg" alt="Error al Cargar" title="Técnico en Procesos Industriales">
            </p>
            <a id="e" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Telecomunicaciones</p>
            <p class="justificado">
                Instalación, operación y mantenimiento de redes de telecomunicaciones, así como operación de sistemas y equipos electrónicos.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electrotecnia De Corriente Alterna Y Corriente Continua</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Audio</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad E Higiene En Las Telecomunicaciones</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Supervisión En Las Telecomunicaciones</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica Analógica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Soluciones Computacionales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Video</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Microcontroladores</li>
                        <li><i class="fas fa-pencil-ruler"></i> Medios De Transmisión</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Telecomunicaciones</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Móvil</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología Satelital </li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Telefonía</li>
                        <li><i class="fas fa-pencil-ruler"></i> Redes De Datos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comunicaciones Móviles E Inalámbricas</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Implementación De Proyectos De Telecomunicaciones</li>
                        <li><i class="fas fa-pencil-ruler"></i> Entornos Inteligentes</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/telecom.svg" alt="Error al Cargar" title="Técnico en Telecomunicaciones">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
    
