 <section>
        <p class="title">
            Miguel Othón de Mendizábal
            <br>
            2021 - Aciertos: 93
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1575.0562631367286!2d-99.15837163827847!3d19.46694538811879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8f02004cadb%3A0xd0d73dd0768f47b5!2sCentro%20de%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20N%C2%B0%206%20%22Miguel%20Oth%C3%B3n%20de%20Mendizabal%22%20IPN!5e0!3m2!1ses-419!2smx!4v1634448461372!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">C. 4 20, Col del Gas, Azcapotzalco, 02950 Ciudad de México, CDMX</p>
            <img id="top" class="foto" src="../images/fotos/cecyt6.jpg" alt="Error al cargar (Foto cecyt 6)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Ecología <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Enfermería <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Laboratorista Clínico <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Laboratorista Químico <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#e"><i class="fas fa-graduation-cap"></i> Técnico en Nutrición Humana <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#f"><i class="fas fa-graduation-cap"></i> Técnico Químico Farmacéutico <i class="fas fa-external-link-alt"></i></li></a><br> 
            </ul>
        </div>
        
        <div class="carreras">
            <p class="title2">Técnico en Ecología</p>
            <p class="justificado">
                Aplicar de manera integral los conocimientos adquiridos para descubrir problemas ambientales y proponer soluciones basadas en las leyes y normativas nacionales e internacionales aplicables con un fuerte compromiso social para lograr el desarrollo sostenible del medio natural y la relación armónica entre la sociedad y el medio ambiente.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Recursos Naturales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnica Instrumental Para Análisis Ambiental I</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Problemática Ambiental</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnica Instrumental Para Análisis Ambiental II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión Ambiental</li>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad, Higiene Y Medio Ambiente</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo Integral De Materiales Y Residuos Peligrosos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Estudio De Impacto Ambiental</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo Integral De Residuos Sólidos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Monitoreo Y Calidad Del Aire</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Caracterización Y Recuperación De Suelos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Caracterización Y Tratamiento De Aguas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Educación Ambiental Y Desarrollo Sostenible</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Seminario De Proyectos De Titulación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Liderazgo Y Generación De Empresas</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/ecologia.svg" alt="Error al Cargar" title="Técnico en Ecología">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Enfermería</p>
            <p class="justificado">
                Un técnico de enfermería es un técnico superior capacitado en la integración de equipos médicos, colaborando con expertos regionales en la realización de conductas de enfermería esenciales y brindando atención humana a individuos, familias y comunidades.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Enfermería Comunitaria Y Salud Pública</li>
                        <li><i class="fas fa-pencil-ruler"></i> Teorías Y Proceso De Atención En Enfermería</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas En Enfermería</li>
                        <li><i class="fas fa-pencil-ruler"></i> Fisiología Clínica En Enfermería</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Bioética En Enfermería</li>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación En Enfermería</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Enfermería En La Atención Básica Del Paciente</li>
                        <li><i class="fas fa-pencil-ruler"></i> Enfermería Médico-Quirúrgica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Proceso Salud-Enfermedad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Farmacología En Enfermería</li>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Enfermería Materno-Infantil</li>
                        <li><i class="fas fa-pencil-ruler"></i> Enfermería En La Atención Del Adulto Mayor</li>
                        <li><i class="fas fa-pencil-ruler"></i> Enfermería En La Atención Pediátrica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto De Investigación De Enfermería En Salud Reproductiva</li>
                        <li><i class="fas fa-pencil-ruler"></i> Metodología De La Investigación En Enfermería</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/enfermera.svg" alt="Error al Cargar" title="Técnico en Enfermería">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Laboratorista Clínico</p>
            <p class="justificado">
                Capacitación de técnicos de laboratorio químico altamente calificados y competitivos en análisis físicos, químicos y biológicos de alimentos, bebidas, productos farmacéuticos y químicos en general; Con actitud de servicio, portadora de valores cívicos y éticos, comprometidos en trabajar interactivamente con profesionalismo en el desempeño industrial de nuestro país.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Técnica Y Calidad Instrumental I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Higiene, Seguridad Y Control De Residuos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Técnica Y Calidad Instrumental II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis Químico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Optimización De Recursos Productivos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis Y Tratamiento De Agua</li>
                        <li><i class="fas fa-pencil-ruler"></i> Uso Y Regulación De Aditivos Químicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control Sanitario Microbiológico</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Desarrollo De Proyectos I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Y Diseño De Nuevos Productos I</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis De Alimentos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología Química</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control De La Calidad De Procesos Productivos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Desarrollo De Proyectos II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Y Diseño De Nuevos Productos II</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/laboratorio.svg" alt="Error al Cargar" title="Técnico en Laboratorista Clínico">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Laboratorista Químico</p>
            <p class="justificado">
                Capacitación de técnicos de laboratorio químico altamente calificados y competitivos en análisis físicos, químicos y biológicos de alimentos, bebidas, productos farmacéuticos y químicos en general; Con actitud de servicio, portadora de valores cívicos y éticos, comprometidos a trabajar interactivamente con profesionalismo en el desempeño industrial de nuestro país.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Técnica Y Calidad Instrumental I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Higiene, Seguridad Y Control De Residuos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Técnica Y Calidad Instrumental II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis Químico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Optimización De Recursos Productivos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis Y Tratamiento De Agua</li>
                        <li><i class="fas fa-pencil-ruler"></i> Uso Y Regulación De Aditivos Químicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control Sanitario Microbiológico</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Desarrollo De Proyectos I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Y Diseño De Nuevos Productos I</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis De Alimentos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología Química</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control De La Calidad De Procesos Productivos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Desarrollo De Proyectos II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Y Diseño De Nuevos Productos II</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/quimico.svg" alt="Error al Cargar" title="Técnico en Laboratorista Químico">
            </p>
            <a id="e" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Nutrición Humana</p>
            <p class="justificado">
                En ésta carrera se busca la formación integral de Técnicos en Nutrición con una concepción humanista utilizando la ciencia y la tecnología en el ejercicio profesional para responder a los retos nutricionales que enfrenta la población mexicana
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción A La Ciencia De La Nutrición Humana</li>
                        <li><i class="fas fa-pencil-ruler"></i> Anatomía Y Fisiología Del Aparato Digestivo</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Nutrición En El Ciclo De La Vida</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nutrición  Y Enfermedad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculo Dietético</li>
                        <li><i class="fas fa-pencil-ruler"></i> Evaluación Del Estado De Nutrición</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Planes De Alimentación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Servicios De Alimentación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo Y Control De Calidad En Servicios De Alimentación</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas Culinarias</li>
                        <li><i class="fas fa-pencil-ruler"></i> Empleo De Alimentos Procesados En Servicios De Alimentación</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Para La Atención Nutricional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Educación Nutricional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sobrepeso Y Obesidad: Tratamiento Nutricional Básico</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto De Un Servicio De Alimentación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Transtornos De La Alimentación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Panorama Nutricional De México</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/nutricion.svg" alt="Error al Cargar" title="Técnico en Nutrición Humana">
            </p>
            <a id="f" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico Químico Farmacéutico</p>
            <p class="justificado">
                Al final de su carrera técnica en Química Farmacéutica, los graduados estarán listos para ingresar a la investigación de alto nivel en la industria biomédica, así como para ingresar inmediatamente a la industria de bienes y servicios aplicando el uso de los conocimientos y habilidades existentes. para ellos. Posibilita la instalación, operación y mantenimiento de los sistemas que componen la red de comunicaciones digitales que actúa como intermediario entre gerentes y operadores que apoyan con calidad a la organización industrial
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Mezcla De Polvos De Procesos Farmacéuticos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción Empresarial De Industria Farmacéutica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Optimización De Recursos En Áreas De Procesos Farmacéuticos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología Farmacéutica I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Producción De Granulados</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Recursos En Áreas De Procesos Farmacéuticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Higiene Y Seguridad Industrial</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología Farmacéutica II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Producción De Tabletas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Producción De Cápsulas</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Supervisión De La Industria Farmacéutica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Microbiología General</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Producción De Grageas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control De Contaminantes En La Industria Farmacéutica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control De Procesos De Producción Farmacéuticos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Innovación Tecnológica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control Total De La Calidad En La Industria Farmacéutica</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/doctor.svg" alt="Error al Cargar" title="Técnico en Químico Farmacéutico">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
    
