<section>
        <p class="title">
            Carlos Vallejo Márquez
            <br>
            2021 - Aciertos: 85
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.0096329408675!2d-99.08179274981012!3d19.45515148680711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fbeb5dc1a4df%3A0x6e3f80fcb8450804!2sCentro%20de%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20N%C2%B0%2010%20%22Carlos%20Vallejo%20M%C3%A1rquez%22%20IPN!5e0!3m2!1ses-419!2smx!4v1634502436421!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">Av. 508 s/n, Pueblo de San Juan de Aragón, Gustavo A. Madero, 07950 Ciudad de México, CDMX</p>
            <img id="top" class="foto" src="../images/fotos/cecyt10.jpg" alt="Error al cargar (Foto cecyt 10)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Diagnóstico y Mejoramiento Ambiental <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Mecatrónica <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Metrología y Control de Calidad <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Telecomunicaciones <i class="fas fa-external-link-alt"></i></li></a><br>
            </ul>
        </div>
        <img id="a" class="imagen_dere" src="../images/unDraw/Education.svg" alt="Error al cargar (Educación)">
        <div class="carreras">
            <p class="title2"> Técnico en Diagnóstico y Mejoramiento Ambiental</p>
            <p class="justificado">
                Su objetivo es formar técnicos profesionales con los conocimientos y actitudes necesarios y suficientes para realizar diagnósticos de los problemas ambientales que se presentan en el ámbito social y profesional.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Ciencias Ambientales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Observación Y Análisis De Parámetros </li>
                        <li><i class="fas fa-pencil-ruler"></i> Meteorológicos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción A Los Métodos Analíticos Ambientales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Métodos De Muestreo Ambiental</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Aplicación De Medidas De Seguridad E Higiene Industrial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control De Emisión De Gases Y Partículas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Diagnóstico Y Monitoreo De La Calidad Del Aire</li>
                        <li><i class="fas fa-pencil-ruler"></i> Energía Asequibles Y No Contaminantes</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tratamiento De Agua Residual</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Hidrológicos Y Su Contaminación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis De La Calidad Del Agua</li>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Ambiental</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Experimentos Y Saneamiento Ambiental</li>
                        <li><i class="fas fa-pencil-ruler"></i> Riesgo E Impacto Ambiental</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Contaminación Y Remediación Del Suelo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis De Suelo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo Integral De Residuos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión Ambiental</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos Sustentables</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos Ambientales</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/natural.svg" alt="Error al Cargar" title="Técnico en Diagnóstico y Mejoramiento Ambiental">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Mecatrónica</p>
            <p class="justificado">
                Los trabajos principales de un técnico mecatrónico incluyen la síntesis de campos y sistemas mecánicos, electrónicos y eléctricos. La mecatrónica es un concepto recientemente desarrollado que enfatiza la necesidad de una amplia integración e interacción entre estas áreas, enfocándose en el desarrollo de productos relacionados con los sistemas de control para diseñar sistemas de control. El producto o proceso inteligente.
                <br>
                El Programa Académico de Técnico en Mecatrónica contribuye a la formación integral de estudiantes calificados en el uso de la ciencia y la tecnología para incidir en los procesos de fabricación con base en un sólido conocimiento de la mecánica, electrónica, informática y control para integrar simultáneamente dispositivos y sistemas mecatrónicos, brindando soluciones a Problemas actuales basados en el comportamiento ético y el respeto a la actitud innovadora, empresarial y sostenible.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología y Tecnología de Materiales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrotecnia de Corriente Continua y Corriente Alterna</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Soldadura En Sistemas Mecatrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De La Calidad En Sistemas Mecatrónicos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanizado de Piezas para Sistemas Mecatrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción a Sistemas Digitales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Lenguaje de Programación</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Manufactura Avanzada</li>
                        <li><i class="fas fa-pencil-ruler"></i> Simulación De Sistemas Electrónicos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño de Mecanismos Asistidos por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sensores Y Actuadores Electrónicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dispositivos Lógicos Programables</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Robótica Industrial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño De Aplicaciones Móviles</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electro Neumática</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica De Potencia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Herramientas Computacionales De Vanguardia (CAD, CAM)</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i>Integración De Sistemas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos Mecatrónicos</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/mecatronica.svg" alt="Error al Cargar" title="Técnico en Mecatrónica">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Metrología y Control de Calidad</p>
            <p class="justificado">
                Las funciones principales del Gerente de Calidad y Metrología incluyen medición, estandarización, especificaciones y certificación. Para las funciones básicas, también se han agregado tecnología de gestión y control de calidad.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología Dimensional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control De Calidad</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Asistido Por Computadora</li>
                        <li><i class="fas fa-pencil-ruler"></i> Estudio Del Trabajo</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología Geométrica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Normalización Y Certificación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Manufactura</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Y Representación De Mecanismos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología De Materiales</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Control Estadístico De La Calidad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control Numérico Computarizado</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Procesos De Manufactura</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De La Metrología</li>
                        <li><i class="fas fa-pencil-ruler"></i> Validación Y Verificación De Instrumentos De Medición</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Control Total De La Calidad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología De Materiales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Centro De Maquinado</li>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto De Un Sistema De Gestión De La Calidad </li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/metro.svg" alt="Error al Cargar" title="Técnico en Metrología Y Control De Calidad">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Telecomunicaciones</p>
            <p class="justificado">
                Instalación, operación y mantenimiento de redes de telecomunicaciones, así como operación de sistemas y equipos electrónicos.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electrotecnia De Corriente Alterna Y Corriente Continua</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Audio</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad E Higiene En Las Telecomunicaciones</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Supervisión En Las Telecomunicaciones</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Digital</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica Analógica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Soluciones Computacionales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Video</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Microcontroladores</li>
                        <li><i class="fas fa-pencil-ruler"></i> Medios De Transmisión</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Telecomunicaciones</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Móvil</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología Satelital </li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Telefonía</li>
                        <li><i class="fas fa-pencil-ruler"></i> Redes De Datos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comunicaciones Móviles E Inalámbricas</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Implementación De Proyectos De Telecomunicaciones</li>
                        <li><i class="fas fa-pencil-ruler"></i> Entornos Inteligentes</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/telecom.svg" alt="Error al Cargar" title="Técnico en Telecomunicaciones">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>