<section>
        <p class="title">
            Ricardo Flores Magón
            <br>
            2021 - Aciertos: 93
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.6746525130493!2d-99.13138414981215!3d19.339919186872873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fe274ca24ac1%3A0x3acd2890a5365a7a!2sCentro%20de%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20N%C2%B0%2013%20%22Ricardo%20Flores%20Mag%C3%B3n%22%20IPN!5e0!3m2!1ses-419!2smx!4v1634507035959!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">Calz Taxqueña 1620, Paseos de Taxqueña, Coyoacán, 04250 Ciudad de México, CDMX</p>
            <img id="top" class="foto" src="../images/fotos/cecyt13.jpeg" alt="Error al cargar (Foto cecyt 13)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Administración <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Administración de Empresas Turísticas <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Contaduría <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Gastronomía <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#e"><i class="fas fa-graduation-cap"></i> Técnico en Gestión de la Ciberseguridad <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#f"><i class="fas fa-graduation-cap"></i> Técnico en Informática <i class="fas fa-external-link-alt"></i></li></a><br>
            </ul>
        </div>
        
        <div class="carreras">
            <p class="title2"> Técnico en Administración</p>
            <p class="justificado">
                Formar técnicos de gestión competentes y competir con actitud de servicio, poseedores de sólidos valores cívicos y éticos, comprometidos con su trabajo con interoperabilidad profesional en todos los procesos, alto desempeño y actividades productivas los hará destacar en los organismos tanto nacionales como internacionales.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Administración</li>
                        <li><i class="fas fa-pencil-ruler"></i> Derecho Laboral</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Capital Humano</li>
                        <li><i class="fas fa-pencil-ruler"></i> Planeación Estratégica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Habilidades De Negociación Digital</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Sueldos Y Salarios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Diseño Organizacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mercadotecnia Digital</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Ética Y Responsabilidad Social</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Inventarios</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Negocios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Calidad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Paquetería Administrativa</li>
                        <li><i class="fas fa-pencil-ruler"></i> Producción</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nociones De Finanzas</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Comercio Internacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dirección Empresarial</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/admin.svg" alt="Error al Cargar" title="Técnico en Administración">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Administración de Empresas Turísticas</p>
            <p class="justificado">
                Formar técnicos en gestión empresarial turística altamente competentes y competitivos, con actitud de servicio con valores cívicos y compromiso de interactuar con profesionalismo en las actividades turísticas locales e internacionales.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Principios Culinarios</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración Y Turismo</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Cocinas Del Mundo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación Hotelera</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés Turístico I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Sustentable</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Conversación I</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Agencias De Viajes</li>
                        <li><i class="fas fa-pencil-ruler"></i> Patrimonio Turístico Nacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración Hotelera</li>
                        <li><i class="fas fa-pencil-ruler"></i> Operación De Establecimientos De Alimentos Y Bebidas</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés Turístico II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Conversación II</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Proyectos Turísticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Globalizadores De Agencias De Viajes</li>
                        <li><i class="fas fa-pencil-ruler"></i> Patrimonio Turístico Internacional</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración De Eventos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés Turístico III</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Conversación III</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/turista.svg" alt="Error al Cargar" title="Técnico en Administración De Empresas Turísticas">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Contaduría</p>
            <p class="justificado">
                Convertirse en el mejor técnico contable de nivel medio superior con base en la filosofía del Instituto Politécnico Nacional, el cual es reconocido por el alto nivel de los estudiantes así como por los buenos logros en el trabajo de los estudiantes Graduado en Contaduría y Administración. En general, por la calidad de sus conocimientos, habilidades, actitudes y valores y de acuerdo con los avances tecnológicos, sociales, económicos y laborales que la empresa requiere.
               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Organización Empresarial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Aplicación Matemática, Contable Y Administrativa</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal Personas Físicas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Marco Normativo Contable</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Legislación Fiscal Personas Morales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nociones De Finanzas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Paquetería Contable</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Personalidad Financiera</li>
                        <li><i class="fas fa-pencil-ruler"></i> Negocios Sustentables</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad Social</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nóminas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Nociones De Auditoría</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Proyectos De Investigación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Contabilidad De Costos</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/money.svg" alt="Error al Cargar" title="Técnico en Contaduría">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Gastronomía</p>
            <p class="justificado">
                Los Técnicos en Gastronomía tienen como objetivo formar profesionales con habilidades valiosas, digitales, emocionales, científicas y tecnológicas, para desarrollar técnicas culinarias en preparación previa. Cocina nacional e internacional que satisfaga las necesidades nutricionales de los pioneros, respetando el impacto de los estándares de higiene y seguridad, respondiendo a las necesidades culinarias de la comunidad y empresas dedicadas a este sector, creando un negocio competitivo, sostenible e innovador.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas Culinarias</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química De Alimentos Y Principios Nutricionales</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Certificaciones Normativas, Seguridad E Higiene</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gastronomía Mexicana</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Conservas Y Prefabricados</li>
                        <li><i class="fas fa-pencil-ruler"></i> Cocina Fría</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Administración Gastronómica Financiera</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De Eventos Y Banquetes</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gastronomía Internacional I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Panadería</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Tendencias Gastronómicas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Enología Y Coctelería</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Servicios En Restaurante Y Bar</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gastronomía Internacional II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Plan De Negocios De Alimentos Y Bebidas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Marketing Gastronómico</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Repostería</li>
                        <li><i class="fas fa-pencil-ruler"></i> Francés Gastronómico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés Gastronómico</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/comida.svg" alt="Error al Cargar" title="Técnico en Gastronomía">
            </p>
            <a id="e" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Gestión de la Ciberseguridad</p>
            <p class="justificado">
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Operativos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Ciberseguridad Y Sociedad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Navegación Segura</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Redes De Computadoras</li>
                        <li><i class="fas fa-pencil-ruler"></i> Gobernanza De Tecnologías De La Información</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Análisis De Amenazas Y Delitos Informáticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dictamen Pericial En TIC´S</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Modelos De Seguridad De La Información</li>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad En Redes</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Bases De Datos Y De Respaldo De Información</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Identificación, Autenticación Y Control De Acceso </li>
                        <li><i class="fas fa-pencil-ruler"></i> Minería De Datos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Software Malicioso</li>
                        <li><i class="fas fa-pencil-ruler"></i> Auditoría Informática</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Información Seguros</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Forensia Informática</li>
                        <li><i class="fas fa-pencil-ruler"></i> Pruebas De Penetración A Sistemas Informáticos</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/seguridad.svg" alt="Error al Cargar" title="Técnico en Gestión De La Ciberseguridad">
            </p>
            <a id="f" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Informática</p>
            <p class="justificado">
                Ser la ocupación principal a nivel técnico que capacita a los egresados para ser aceptados competitivamente en el mercado laboral; Con profesores con excelentes planes de carrera y programas de estudio actuales para desarrollar las habilidades de nuestros estudiantes que les permitan crear y / o administrar sistemas de información utilizando tecnología informática.               <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Herramientas De Programación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ensamblado Y Mantenimiento De PCs</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Orientada A Objetos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Teleinformática</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Operativos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación De Dispositivos Móviles</li>
                        <li><i class="fas fa-pencil-ruler"></i> Base De Datos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Modelado De Sistemas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Interacción Usuario Computadora</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Producción Multimedia Y Ambientes Virtuales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Web</li>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Avanzada</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De Proyectos Informáticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas De Información</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/info.svg" alt="Error al Cargar" title="Técnico en Informática">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
    
