 <section>
        <p class="title">
            Narciso Bassols
            <br>
            2021 - Aciertos: 86
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.2775754147606!2d-99.17637144980961!3d19.48669008678913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f86431c88f4d%3A0xc16e0a27f06f0843!2sCentro%20de%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20N%C2%B0%208%20%22Narciso%20Bassols%22%20IPN!5e0!3m2!1ses-419!2smx!4v1634449641512!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="text_izq">
            <p class="title2">Dirección</p>
            <p class="center">Av. de las Granjas 618, Santo Tomas, Azcapotzalco, 02020 Ciudad de México, CDMX</p>
            <img id="top" class="foto" src="../images/fotos/cecyt8.jpg" alt="Error al cargar (Foto cecyt 8)">
        </div>
        <div class="puntuacion">
        </div>
        <div class="text_dere">
            <p class="title2">Carreras</p>
            <ul>
                <li><a href="#a"><i class="fas fa-graduation-cap"></i> Técnico en Computación <i class="fas fa-external-link-alt"></i></li></a><br>                
                <li><a href="#b"><i class="fas fa-graduation-cap"></i> Técnico en Mantenimiento Industrial <i class="fas fa-external-link-alt"></i></li></a><br> 
                <li><a href="#c"><i class="fas fa-graduation-cap"></i> Técnico en Plásticos <i class="fas fa-external-link-alt"></i></li></a><br>
                <li><a href="#d"><i class="fas fa-graduation-cap"></i> Técnico en Sistemas Automotrices <i class="fas fa-external-link-alt"></i></li></a><br>
            </ul>
        </div>
        
        <div class="carreras">
            <p class="title2">Técnico en Computación</p>
            <p class="justificado">
                Los técnicos profesionales de nivel secundario al finalizar sus estudios habrán adquirido conocimientos, habilidades y actitudes en el uso de lenguajes de programación para la aplicación y diseño de sistemas informáticos. Detección y corrección física y lógica mediante soporte técnico (software), así como el uso racional y sistemático de los recursos de los que son responsables, el uso de la epistemología práctica y teórica permitirán que los egresados satisfagan las necesidades del sector público de bienes y servicios y la capacidad de "integrarse" mientras adquieren los conocimientos básicos y habilidades que les permitirán continuar sus estudios a un nivel superior, asumir un papel activo en los desafíos del mundo actual e integrar a nuestra juventud de manera planificada y sistemática en la industria de la globalización.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Algoritmia Y Programación</li>
                        <li><i class="fas fa-pencil-ruler"></i> Ensamblado Y Soporte De Componentes Electrónicos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Tópicos De Aplicaciones Multimedia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Integración De Recursos Multimedia</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Modular</li>
                        <li><i class="fas fa-pencil-ruler"></i> Redes De Comunicaciones</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Operativos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Temas Selectos De IoT</li>
                        <li><i class="fas fa-pencil-ruler"></i> Aplicaciones Electrónicas Computacionales</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Aplicaciones Con Entornos Gráficos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Bases De Datos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Portales Web</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad De Redes</li>
                        <li><i class="fas fa-pencil-ruler"></i> Configuración De Redes</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Programación De Aplicaciones Para Dispositivos Móviles</li>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad Informática</li>
                        <li><i class="fas fa-pencil-ruler"></i> Introducción A La Ciencia De Datos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Creación De Entornos Dimensionales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Proyecto Informático</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/compu.svg" alt="Error al Cargar" title="Técnico en Computación">
            </p>
            <a id="b" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Mantenimiento Industrial</p>
            <p class="justificado">
                El técnico de Mantenimiento Industrial será capaz de aplicar procedimientos tecnológicos de mantenimiento generar soluciones innovadoras a la problemática que se le presente a través del uso de máquinas de control numérico e instrumentos de medición aplicados en el sector productivo de bienes y servicios
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Electrotecnia</li>
                        <li><i class="fas fa-pencil-ruler"></i> Materiales Industriales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Metrología Dimensional</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Hidráulicos Y Neumáticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Mantenimiento</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Soldadura Por Arco</li>
                        <li><i class="fas fa-pencil-ruler"></i> Soldadura Por Oxiacetileno</li>
                        <li><i class="fas fa-pencil-ruler"></i> Métodos De Trabajo En Soldadura</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Instalaciones Eléctricas Industriales</li>
                        <li><i class="fas fa-pencil-ruler"></i> Máquinas Herramientas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mecanismos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Mantenimiento A Subestaciones Eléctricas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Protecciones Eléctricas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Optimización De La Energía Eléctrica (C)</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Máquinas Eléctricas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Electrónica Industrial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Máquinas De Control Numérico</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Automatización</li>
                        <li><i class="fas fa-pencil-ruler"></i> Prototipos Tecnológicos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dispositivos Digitales De Control Y Potencia (C)</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control Total De La Calidad (NB)</li>
                </div>
                <img class="lista__imagen" src="../images/unDraw/calculadora.svg" alt="Error al Cargar" title="Técnico en Instalaciones y Mantenimiento Eléctrico">
            </p>
            <a id="c" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Plásticos</p>
            <p class="justificado">
                Control de maquinaria y equipos de procesamiento de plásticos para obtener productos finales que cumplan con los estándares de calidad y seguridad, así como con los estándares ambientales.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Instrumentos De Medición</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología De Los Materiales Plásticos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Elementos Mecánicos Y Electrohidráulica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Neumática E Hidráulica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Mantenimiento De Computadoras</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Comprensión Y Extrusión</li>
                        <li><i class="fas fa-pencil-ruler"></i> Talleres De Plásticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller de Comprensión Y Extrusión</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Programación Del Mantenimiento</li>
                        <li><i class="fas fa-pencil-ruler"></i> Automatización</li>
                        <li><i class="fas fa-pencil-ruler"></i> Soldadura Por Arco</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Termoformado</li>
                        <li><i class="fas fa-pencil-ruler"></i> Taller De Termorfomado, Inyección Y Rotomoldeo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Inyección</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Procesos De Soplado</li>
                        <li><i class="fas fa-pencil-ruler"></i> Acabado Y Decorado De Artículos De Plástico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Protecciones Eléctricas</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnología De Los Polímeros</li>
                        <li><i class="fas fa-pencil-ruler"></i> Herramientas Y Equipo Periférico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Reciclaje De Los Polímeros</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Sustentabilidad De Los Plásticos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Control Total De La Calidad</li>
                        <li><i class="fas fa-pencil-ruler"></i> Prototipos Tecnológicos</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/plastico.svg" alt="Error al Cargar" title="Técnico en Plásticos">
            </p>
            <a id="d" href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
            <p class="title2">Técnico en Sistemas Automotrices</p>
            <p class="justificado">
                Formación de técnicos para reparación y mantenimiento de los vehículos que tiene en cuenta los diferentes requisitos de los fabricantes, equipos de manipulación, materiales y desarrolla habilidades en tecnología mecánica, eléctrica y electrónica para sistemas generales de vehículos.
                <br><br>
                A parte de las materias de <a href="/usuario/escuelas#tronco" title="¿Qué es Tronco Común? Ver..."><b>tronco común</b></a> esta carrera cuenta con las siguientes materias:
                <br>
                <div class="lista">
                    <p class="centro__blue">Tercer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Del Automóvil</li>
                        <li><i class="fas fa-pencil-ruler"></i> Manejo De Herramientas Y Equipo De Medición Automotriz</li>
                        <li><i class="fas fa-pencil-ruler"></i> Administración Empresarial Automotriz</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Servicio Integral Al Sistema De Frenos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistema De Suspensión Y Dirección Adaptativas</li>
                        <li><i class="fas fa-pencil-ruler"></i> Seguridad. Confort Y Aerodinámica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Conducción Y Operación Del Vehículo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Servicio Integral Al Aire Acondicionado </li>
                        <li><i class="fas fa-pencil-ruler"></i> Motores Alternativos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Reacondicionamiento De Motores De Combustión Interna</li>
                        <li><i class="fas fa-pencil-ruler"></i> Modelado Y Ensamblaje En 3D</li>
                        <li><i class="fas fa-pencil-ruler"></i> Sistemas Eléctricos Y Electrónicos</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Conducción Y Operación Del Vehículo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Servicio Integral Al Aire Acondicionado</li>
                        <li><i class="fas fa-pencil-ruler"></i> Motores Alternativos</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Tecnologías De Motores De Combustión Interna</li>
                        <li><i class="fas fa-pencil-ruler"></i> Tren Motriz</li>
                        <li><i class="fas fa-pencil-ruler"></i> Autotrónica</li>
                        <br>
                        <a href="/usuario/escuelas#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Gestión De Proyectos</li>
                        <li><i class="fas fa-pencil-ruler"></i> Combustibles Y Energías Alternativas</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="../images/unDraw/carro.svg" alt="Error al Cargar" title="Técnico en Sistemas Automotrices">
            </p>
            <a href="#top" class="boton">Regresar <i class="fas fa-external-link-alt"></i></a>
        </div>
    </section>
   
 
