
        <div id="resultado">
            <form class="form_exam" name="quizForm" id="quizForm" onsubmit="return verificarRespuestas()">
                <p id="examenes"></p>
                <fieldset class="form-group categorias">
                    <legend class="mt-4 title2">Biologia</legend>
                    <div class="espacio_title"></div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 1</p>
                        <input type="radio" name="p1" value="a" id="a">
                        <label class="label" id="a" for="a">A</label>
                        <input type="radio" name="p1" value="b" id="b">
                        <label class="label" for="b">B</label>
                        <input type="radio" name="p1" value="c" id="c">
                        <label class="label" for="c">C</label>
                        <input type="radio" name="p1" value="d" id="d">
                        <label class="label" for="d">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 2</p>
                        <input type="radio" name="p2" value="a" id="a2">
                        <label class="label" id="a" for="a2">A</label>
                        <input type="radio" name="p2" value="b" id="b2">
                        <label class="label" for="b2">B</label>
                        <input type="radio" name="p2" value="c" id="c2">
                        <label class="label" for="c2">C</label>
                        <input type="radio" name="p2" value="d" id="d2">
                        <label class="label" for="d2">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 3</p>
                        <input type="radio" name="p3" value="a" id="a3">
                        <label class="label" id="a" for="a3">A</label>
                        <input type="radio" name="p3" value="b" id="b3">
                        <label class="label" for="b3">B</label>
                        <input type="radio" name="p3" value="c" id="c3">
                        <label class="label" for="c3">C</label>
                        <input type="radio" name="p3" value="d" id="d3">
                        <label class="label" for="d3">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 4</p>
                        <input type="radio" name="p4" value="a" id="a4">
                        <label class="label" id="a" for="a4">A</label>
                        <input type="radio" name="p4" value="b" id="b4">
                        <label class="label" for="b4">B</label>
                        <input type="radio" name="p4" value="c" id="c4">
                        <label class="label" for="c4">C</label>
                        <input type="radio" name="p4" value="d" id="d4">
                        <label class="label" for="d4">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 5</p>
                        <input type="radio" name="p5" value="a" id="a5">
                        <label class="label" id="a" for="a5">A</label>
                        <input type="radio" name="p5" value="b" id="b5">
                        <label class="label" for="b5">B</label>
                        <input type="radio" name="p5" value="c" id="c5">
                        <label class="label" for="c5">C</label>
                        <input type="radio" name="p5" value="d" id="d5">
                        <label class="label" for="d5">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 6</p>
                        <input type="radio" name="p6" value="a" id="a6">
                        <label class="label" id="a" for="a6">A</label>
                        <input type="radio" name="p6" value="b" id="b6">
                        <label class="label" for="b6">B</label>
                        <input type="radio" name="p6" value="c" id="c6">
                        <label class="label" for="c6">C</label>
                        <input type="radio" name="p6" value="d" id="d6">
                        <label class="label" for="d6">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 7</p>
                        <input type="radio" name="p7" value="a" id="a7">
                        <label class="label" id="a" for="a7">A</label>
                        <input type="radio" name="p7" value="b" id="b7">
                        <label class="label" for="b7">B</label>
                        <input type="radio" name="p7" value="c" id="c7">
                        <label class="label" for="c7">C</label>
                        <input type="radio" name="p7" value="d" id="d7">
                        <label class="label" for="d7">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 8</p>
                        <input type="radio" name="p8" value="a" id="a8">
                        <label class="label" id="a" for="a8">A</label>
                        <input type="radio" name="p8" value="b" id="b8">
                        <label class="label" for="b8">B</label>
                        <input type="radio" name="p8" value="c" id="c8">
                        <label class="label" for="c8">C</label>
                        <input type="radio" name="p8" value="d" id="d8">
                        <label class="label" for="d8">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 9</p>
                        <input type="radio" name="p9" value="a" id="a9">
                        <label class="label" id="a" for="a9">A</label>
                        <input type="radio" name="p9" value="b" id="b9">
                        <label class="label" for="b9">B</label>
                        <input type="radio" name="p9" value="c" id="c9">
                        <label class="label" for="c9">C</label>
                        <input type="radio" name="p9" value="d" id="d9">
                        <label class="label" for="d9">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 10</p>
                        <input type="radio" name="p10" value="a" id="a10">
                        <label class="label" id="a" for="a10">A</label>
                        <input type="radio" name="p10" value="b" id="b10">
                        <label class="label" for="b10">B</label>
                        <input type="radio" name="p10" value="c" id="c10">
                        <label class="label" for="c10">C</label>
                        <input type="radio" name="p10" value="d" id="d10">
                        <label class="label" for="d10">D</label>
                        </div>
                </fieldset>
                <fieldset class="form-group categorias">
                    <legend class="mt-4 title2">Quimica</legend>
                    <div class="espacio_title"></div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 11</p>
                        <input type="radio" name="p11" value="a" id="a11">
                        <label class="label" id="a" for="a11">A</label>
                        <input type="radio" name="p11" value="b" id="b11">
                        <label class="label" for="b11">B</label>
                        <input type="radio" name="p11" value="c" id="c11">
                        <label class="label" for="c11">C</label>
                        <input type="radio" name="p11" value="d" id="d11">
                        <label class="label" for="d11">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 12</p>
                        <input type="radio" name="p12" value="a" id="a12">
                        <label class="label" id="a" for="a12">A</label>
                        <input type="radio" name="p12" value="b" id="b12">
                        <label class="label" for="b12">B</label>
                        <input type="radio" name="p12" value="c" id="c12">
                        <label class="label" for="c12">C</label>
                        <input type="radio" name="p12" value="d" id="d12">
                        <label class="label" for="d12">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 13</p>
                        <input type="radio" name="p13" value="a" id="a13">
                        <label class="label" id="a" for="a13">A</label>
                        <input type="radio" name="p13" value="b" id="b13">
                        <label class="label" for="b13">B</label>
                        <input type="radio" name="p13" value="c" id="c13">
                        <label class="label" for="c13">C</label>
                        <input type="radio" name="p13" value="d" id="d13">
                        <label class="label" for="d13">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 14</p>
                        <input type="radio" name="p14" value="a" id="a14">
                        <label class="label" id="a" for="a14">A</label>
                        <input type="radio" name="p14" value="b" id="b14">
                        <label class="label" for="b14">B</label>
                        <input type="radio" name="p14" value="c" id="c14">
                        <label class="label" for="c14">C</label>
                        <input type="radio" name="p14" value="d" id="d14">
                        <label class="label" for="d14">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 15</p>
                        <input type="radio" name="p15" value="a" id="a15">
                        <label class="label" id="a" for="a15">A</label>
                        <input type="radio" name="p15" value="b" id="b15">
                        <label class="label" for="b15">B</label>
                        <input type="radio" name="p15" value="c" id="c15">
                        <label class="label" for="c15">C</label>
                        <input type="radio" name="p15" value="d" id="d15">
                        <label class="label" for="d15">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 16</p>
                        <input type="radio" name="p16" value="a" id="a16">
                        <label class="label" id="a" for="a16">A</label>
                        <input type="radio" name="p16" value="b" id="b16">
                        <label class="label" for="b16">B</label>
                        <input type="radio" name="p16" value="c" id="c16">
                        <label class="label" for="c16">C</label>
                        <input type="radio" name="p16" value="d" id="d16">
                        <label class="label" for="d16">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 17</p>
                        <input type="radio" name="p17" value="a" id="a17">
                        <label class="label" id="a" for="a17">A</label>
                        <input type="radio" name="p17" value="b" id="b17">
                        <label class="label" for="b17">B</label>
                        <input type="radio" name="p17" value="c" id="c17">
                        <label class="label" for="c17">C</label>
                        <input type="radio" name="p17" value="d" id="d17">
                        <label class="label" for="d17">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 18</p>
                        <input type="radio" name="p18" value="a" id="a18">
                        <label class="label" id="a" for="a18">A</label>
                        <input type="radio" name="p18" value="b" id="b18">
                        <label class="label" for="b18">B</label>
                        <input type="radio" name="p18" value="c" id="c18">
                        <label class="label" for="c18">C</label>
                        <input type="radio" name="p18" value="d" id="d18">
                        <label class="label" for="d18">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 19</p>
                        <input type="radio" name="p19" value="a" id="a19">
                        <label class="label" id="a" for="a19">A</label>
                        <input type="radio" name="p19" value="b" id="b19">
                        <label class="label" for="b19">B</label>
                        <input type="radio" name="p19" value="c" id="c19">
                        <label class="label" for="c19">C</label>
                        <input type="radio" name="p19" value="d" id="d19">
                        <label class="label" for="d19">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 20</p>
                        <input type="radio" name="p20" value="a" id="a20">
                        <label class="label" id="a" for="a20">A</label>
                        <input type="radio" name="p20" value="b" id="b20">
                        <label class="label" for="b20">B</label>
                        <input type="radio" name="p20" value="c" id="c20">
                        <label class="label" for="c20">C</label>
                        <input type="radio" name="p20" value="d" id="d20">
                        <label class="label" for="d20">D</label>
                    </div>
                </fieldset>
                <fieldset class="form-group categorias">
                    <legend class="mt-4 title2">Formacion Civica y Etica</legend>
                    <div class="espacio_title"></div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 21</p>
                        <input type="radio" name="p21" value="a" id="a21">
                        <label class="label" id="a" for="a21">A</label>
                        <input type="radio" name="p21" value="b" id="b21">
                        <label class="label" for="b21">B</label>
                        <input type="radio" name="p21" value="c" id="c21">
                        <label class="label" for="c21">C</label>
                        <input type="radio" name="p21" value="d" id="d21">
                        <label class="label" for="d21">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 22</p>
                        <input type="radio" name="p22" value="a" id="a22">
                        <label class="label" id="a" for="a22">A</label>
                        <input type="radio" name="p22" value="b" id="b22">
                        <label class="label" for="b22">B</label>
                        <input type="radio" name="p22" value="c" id="c22">
                        <label class="label" for="c22">C</label>
                        <input type="radio" name="p22" value="d" id="d22">
                        <label class="label" for="d22">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 23</p>
                        <input type="radio" name="p23" value="a" id="a23">
                        <label class="label" id="a" for="a23">A</label>
                        <input type="radio" name="p23" value="b" id="b23">
                        <label class="label" for="b23">B</label>
                        <input type="radio" name="p23" value="c" id="c23">
                        <label class="label" for="c23">C</label>
                        <input type="radio" name="p23" value="d" id="d23">
                        <label class="label" for="d23">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 24</p>
                        <input type="radio" name="p24" value="a" id="a24">
                        <label class="label" id="a" for="a24">A</label>
                        <input type="radio" name="p24" value="b" id="b24">
                        <label class="label" for="b24">B</label>
                        <input type="radio" name="p24" value="c" id="c24">
                        <label class="label" for="c24">C</label>
                        <input type="radio" name="p24" value="d" id="d24">
                        <label class="label" for="d24">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 25</p>
                        <input type="radio" name="p25" value="a" id="a25">
                        <label class="label" id="a" for="a25">A</label>
                        <input type="radio" name="p25" value="b" id="b25">
                        <label class="label" for="b25">B</label>
                        <input type="radio" name="p25" value="c" id="c25">
                        <label class="label" for="c25">C</label>
                        <input type="radio" name="p25" value="d" id="d25">
                        <label class="label" for="d25">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 26</p>
                        <input type="radio" name="p26" value="a" id="a26">
                        <label class="label" id="a" for="a26">A</label>
                        <input type="radio" name="p26" value="b" id="b26">
                        <label class="label" for="b26">B</label>
                        <input type="radio" name="p26" value="c" id="c26">
                        <label class="label" for="c26">C</label>
                        <input type="radio" name="p26" value="d" id="d26">
                        <label class="label" for="d26">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 27</p>
                        <input type="radio" name="p27" value="a" id="a27">
                        <label class="label" id="a" for="a27">A</label>
                        <input type="radio" name="p27" value="b" id="b27">
                        <label class="label" for="b27">B</label>
                        <input type="radio" name="p27" value="c" id="c27">
                        <label class="label" for="c27">C</label>
                        <input type="radio" name="p27" value="d" id="d27">
                        <label class="label" for="d27">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 28</p>
                        <input type="radio" name="p28" value="a" id="a28">
                        <label class="label" id="a" for="a28">A</label>
                        <input type="radio" name="p28" value="b" id="b28">
                        <label class="label" for="b28">B</label>
                        <input type="radio" name="p28" value="c" id="c28">
                        <label class="label" for="c28">C</label>
                        <input type="radio" name="p28" value="d" id="d28">
                        <label class="label" for="d28">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 29</p>
                        <input type="radio" name="p29" value="a" id="a29">
                        <label class="label" id="a" for="a29">A</label>
                        <input type="radio" name="p29" value="b" id="b29">
                        <label class="label" for="b29">B</label>
                        <input type="radio" name="p29" value="c" id="c29">
                        <label class="label" for="c29">C</label>
                        <input type="radio" name="p29" value="d" id="d29">
                        <label class="label" for="d29">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 30</p>
                        <input type="radio" name="p30" value="a" id="a30">
                        <label class="label" id="a" for="a30">A</label>
                        <input type="radio" name="p30" value="b" id="b30">
                        <label class="label" for="b30">B</label>
                        <input type="radio" name="p30" value="c" id="c30">
                        <label class="label" for="c30">C</label>
                        <input type="radio" name="p30" value="d" id="d30">
                        <label class="label" for="d30">D</label>
                    </div>
                </fieldset>
                <fieldset class="form-group categorias">
                    <legend class="mt-4 title2">Geografía</legend>
                    <div class="espacio_title"></div>                
                    <div class="respuestas">
                        <p class="title3">Pregunta 31</p>
                        <input type="radio" name="p31" value="a" id="a31">
                        <label class="label" id="a" for="a31">A</label>
                        <input type="radio" name="p31" value="b" id="b31">
                        <label class="label" for="b31">B</label>
                        <input type="radio" name="p31" value="c" id="c31">
                        <label class="label" for="c31">C</label>
                        <input type="radio" name="p31" value="d" id="d31">
                        <label class="label" for="d31">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 32</p>
                        <input type="radio" name="p32" value="a" id="a32">
                        <label class="label" id="a" for="a32">A</label>
                        <input type="radio" name="p32" value="b" id="b32">
                        <label class="label" for="b32">B</label>
                        <input type="radio" name="p32" value="c" id="c32">
                        <label class="label" for="c32">C</label>
                        <input type="radio" name="p32" value="d" id="d32">
                        <label class="label" for="d32">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 33</p>
                        <input type="radio" name="p33" value="a" id="a33">
                        <label class="label" id="a" for="a33">A</label>
                        <input type="radio" name="p33" value="b" id="b33">
                        <label class="label" for="b33">B</label>
                        <input type="radio" name="p33" value="c" id="c33">
                        <label class="label" for="c33">C</label>
                        <input type="radio" name="p33" value="d" id="d33">
                        <label class="label" for="d33">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 34</p>
                        <input type="radio" name="p34" value="a" id="a34">
                        <label class="label" id="a" for="a34">A</label>
                        <input type="radio" name="p34" value="b" id="b34">
                        <label class="label" for="b34">B</label>
                        <input type="radio" name="p34" value="c" id="c34">
                        <label class="label" for="c34">C</label>
                        <input type="radio" name="p34" value="d" id="d34">
                        <label class="label" for="d34">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 35</p>
                        <input type="radio" name="p35" value="a" id="a35">
                        <label class="label" id="a" for="a35">A</label>
                        <input type="radio" name="p35" value="b" id="b35">
                        <label class="label" for="b35">B</label>
                        <input type="radio" name="p35" value="c" id="c35">
                        <label class="label" for="c35">C</label>
                        <input type="radio" name="p35" value="d" id="d35">
                        <label class="label" for="d35">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 36</p>
                        <input type="radio" name="p36" value="a" id="a36">
                        <label class="label" id="a" for="a36">A</label>
                        <input type="radio" name="p36" value="b" id="b36">
                        <label class="label" for="b36">B</label>
                        <input type="radio" name="p36" value="c" id="c36">
                        <label class="label" for="c36">C</label>
                        <input type="radio" name="p36" value="d" id="d36">
                        <label class="label" for="d36">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 37</p>
                        <input type="radio" name="p37" value="a" id="a37">
                        <label class="label" id="a" for="a37">A</label>
                        <input type="radio" name="p37" value="b" id="b37">
                        <label class="label" for="b37">B</label>
                        <input type="radio" name="p37" value="c" id="c37">
                        <label class="label" for="c37">C</label>
                        <input type="radio" name="p37" value="d" id="d37">
                        <label class="label" for="d37">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 38</p>
                        <input type="radio" name="p38" value="a" id="a38">
                        <label class="label" id="a" for="a38">A</label>
                        <input type="radio" name="p38" value="b" id="b38">
                        <label class="label" for="b38">B</label>
                        <input type="radio" name="p38" value="c" id="c38">
                        <label class="label" for="c38">C</label>
                        <input type="radio" name="p38" value="d" id="d38">
                        <label class="label" for="d38">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 39</p>
                        <input type="radio" name="p39" value="a" id="a39">
                        <label class="label" id="a" for="a39">A</label>
                        <input type="radio" name="p39" value="b" id="b39">
                        <label class="label" for="b39">B</label>
                        <input type="radio" name="p39" value="c" id="c39">
                        <label class="label" for="c39">C</label>
                        <input type="radio" name="p39" value="d" id="d39">
                        <label class="label" for="d39">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 40</p>
                        <input type="radio" name="p40" value="a" id="a40">
                        <label class="label" id="a" for="a40">A</label>
                        <input type="radio" name="p40" value="b" id="b40">
                        <label class="label" for="b40">B</label>
                        <input type="radio" name="p40" value="c" id="c40">
                        <label class="label" for="c40">C</label>
                        <input type="radio" name="p40" value="d" id="d40">
                        <label class="label" for="d40">D</label>
                    </div>
                </fieldset>
                <fieldset class="form-group categorias">
                    <legend class="mt-4 title2">Historia</legend>
                    <div class="espacio_title"></div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 41</p>
                        <input type="radio" name="p41" value="a" id="a41">
                        <label class="label" id="a" for="a41">A</label>
                        <input type="radio" name="p41" value="b" id="b41">
                        <label class="label" for="b41">B</label>
                        <input type="radio" name="p41" value="c" id="c41">
                        <label class="label" for="c41">C</label>
                        <input type="radio" name="p41" value="d" id="d41">
                        <label class="label" for="d41">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 42</p>
                        <input type="radio" name="p42" value="a" id="a42">
                        <label class="label" id="a" for="a42">A</label>
                        <input type="radio" name="p42" value="b" id="b42">
                        <label class="label" for="b42">B</label>
                        <input type="radio" name="p42" value="c" id="c42">
                        <label class="label" for="c42">C</label>
                        <input type="radio" name="p42" value="d" id="d42">
                        <label class="label" for="d42">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 43</p>
                        <input type="radio" name="p43" value="a" id="a43">
                        <label class="label" id="a" for="a43">A</label>
                        <input type="radio" name="p43" value="b" id="b43">
                        <label class="label" for="b43">B</label>
                        <input type="radio" name="p43" value="c" id="c43">
                        <label class="label" for="c43">C</label>
                        <input type="radio" name="p43" value="d" id="d43">
                        <label class="label" for="d43">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 44</p>
                        <input type="radio" name="p44" value="a" id="a44">
                        <label class="label" id="a" for="a44">A</label>
                        <input type="radio" name="p44" value="b" id="b44">
                        <label class="label" for="b44">B</label>
                        <input type="radio" name="p44" value="c" id="c44">
                        <label class="label" for="c44">C</label>
                        <input type="radio" name="p44" value="d" id="d44">
                        <label class="label" for="d44">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 45</p>
                        <input type="radio" name="p45" value="a" id="a45">
                        <label class="label" id="a" for="a45">A</label>
                        <input type="radio" name="p45" value="b" id="b45">
                        <label class="label" for="b45">B</label>
                        <input type="radio" name="p45" value="c" id="c45">
                        <label class="label" for="c45">C</label>
                        <input type="radio" name="p45" value="d" id="d45">
                        <label class="label" for="d45">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 46</p>
                        <input type="radio" name="p46" value="a" id="a46">
                        <label class="label" id="a" for="a46">A</label>
                        <input type="radio" name="p46" value="b" id="b46">
                        <label class="label" for="b46">B</label>
                        <input type="radio" name="p46" value="c" id="c46">
                        <label class="label" for="c46">C</label>
                        <input type="radio" name="p46" value="d" id="d46">
                        <label class="label" for="d46">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 47</p>
                        <input type="radio" name="p47" value="a" id="a47">
                        <label class="label" id="a" for="a47">A</label>
                        <input type="radio" name="p47" value="b" id="b47">
                        <label class="label" for="b47">B</label>
                        <input type="radio" name="p47" value="c" id="c47">
                        <label class="label" for="c47">C</label>
                        <input type="radio" name="p47" value="d" id="d47">
                        <label class="label" for="d47">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 48</p>
                        <input type="radio" name="p48" value="a" id="a48">
                        <label class="label" id="a" for="a48">A</label>
                        <input type="radio" name="p48" value="b" id="b48">
                        <label class="label" for="b48">B</label>
                        <input type="radio" name="p48" value="c" id="c48">
                        <label class="label" for="c48">C</label>
                        <input type="radio" name="p48" value="d" id="d48">
                        <label class="label" for="d48">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 49</p>
                        <input type="radio" name="p49" value="a" id="a49">
                        <label class="label" id="a" for="a49">A</label>
                        <input type="radio" name="p49" value="b" id="b49">
                        <label class="label" for="b49">B</label>
                        <input type="radio" name="p49" value="c" id="c49">
                        <label class="label" for="c49">C</label>
                        <input type="radio" name="p49" value="d" id="d49">
                        <label class="label" for="d49">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 50</p>
                        <input type="radio" name="p50" value="a" id="a50">
                        <label class="label" id="a" for="a50">A</label>
                        <input type="radio" name="p50" value="b" id="b50">
                        <label class="label" for="b50">B</label>
                        <input type="radio" name="p50" value="c" id="c50">
                        <label class="label" for="c50">C</label>
                        <input type="radio" name="p50" value="d" id="d50">
                        <label class="label" for="d50">D</label>
                    </div>
                </fieldset>
                <fieldset class="form-group categorias">
                    <legend class="mt-4 title2">Español</legend>
                    <div class="espacio_title"></div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 51</p>
                        <input type="radio" name="p51" value="a" id="a51">
                        <label class="label" id="a" for="a51">A</label>
                        <input type="radio" name="p51" value="b" id="b51">
                        <label class="label" for="b51">B</label>
                        <input type="radio" name="p51" value="c" id="c51">
                        <label class="label" for="c51">C</label>
                        <input type="radio" name="p51" value="d" id="d51">
                        <label class="label" for="d51">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 52</p>
                        <input type="radio" name="p52" value="a" id="a52">
                        <label class="label" id="a" for="a52">A</label>
                        <input type="radio" name="p52" value="b" id="b52">
                        <label class="label" for="b52">B</label>
                        <input type="radio" name="p52" value="c" id="c52">
                        <label class="label" for="c52">C</label>
                        <input type="radio" name="p52" value="d" id="d52">
                        <label class="label" for="d52">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 53</p>
                        <input type="radio" name="p53" value="a" id="a53">
                        <label class="label" id="a" for="a53">A</label>
                        <input type="radio" name="p53" value="b" id="b53">
                        <label class="label" for="b53">B</label>
                        <input type="radio" name="p53" value="c" id="c53">
                        <label class="label" for="c53">C</label>
                        <input type="radio" name="p53" value="d" id="d53">
                        <label class="label" for="d53">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 54</p>
                        <input type="radio" name="p54" value="a" id="a54">
                        <label class="label" id="a" for="a54">A</label>
                        <input type="radio" name="p54" value="b" id="b54">
                        <label class="label" for="b54">B</label>
                        <input type="radio" name="p54" value="c" id="c54">
                        <label class="label" for="c54">C</label>
                        <input type="radio" name="p54" value="d" id="d54">
                        <label class="label" for="d54">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 55</p>
                        <input type="radio" name="p55" value="a" id="a55">
                        <label class="label" id="a" for="a55">A</label>
                        <input type="radio" name="p55" value="b" id="b55">
                        <label class="label" for="b55">B</label>
                        <input type="radio" name="p55" value="c" id="c55">
                        <label class="label" for="c55">C</label>
                        <input type="radio" name="p55" value="d" id="d55">
                        <label class="label" for="d55">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 56</p>
                        <input type="radio" name="p56" value="a" id="a56">
                        <label class="label" id="a" for="a56">A</label>
                        <input type="radio" name="p56" value="b" id="b56">
                        <label class="label" for="b56">B</label>
                        <input type="radio" name="p56" value="c" id="c56">
                        <label class="label" for="c56">C</label>
                        <input type="radio" name="p56" value="d" id="d56">
                        <label class="label" for="d56">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 57</p>
                        <input type="radio" name="p57" value="a" id="a57">
                        <label class="label" id="a" for="a57">A</label>
                        <input type="radio" name="p57" value="b" id="b57">
                        <label class="label" for="b57">B</label>
                        <input type="radio" name="p57" value="c" id="c57">
                        <label class="label" for="c57">C</label>
                        <input type="radio" name="p57" value="d" id="d57">
                        <label class="label" for="d57">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 58</p>
                        <input type="radio" name="p58" value="a" id="a58">
                        <label class="label" id="a" for="a58">A</label>
                        <input type="radio" name="p58" value="b" id="b58">
                        <label class="label" for="b58">B</label>
                        <input type="radio" name="p58" value="c" id="c58">
                        <label class="label" for="c58">C</label>
                        <input type="radio" name="p58" value="d" id="d58">
                        <label class="label" for="d58">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 59</p>
                        <input type="radio" name="p59" value="a" id="a59">
                        <label class="label" id="a" for="a59">A</label>
                        <input type="radio" name="p59" value="b" id="b59">
                        <label class="label" for="b59">B</label>
                        <input type="radio" name="p59" value="c" id="c59">
                        <label class="label" for="c59">C</label>
                        <input type="radio" name="p59" value="d" id="d59">
                        <label class="label" for="d59">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 60</p>
                        <input type="radio" name="p60" value="a" id="a60">
                        <label class="label" id="a" for="a60">A</label>
                        <input type="radio" name="p60" value="b" id="b60">
                        <label class="label" for="b60">B</label>
                        <input type="radio" name="p60" value="c" id="c60">
                        <label class="label" for="c60">C</label>
                        <input type="radio" name="p60" value="d" id="d60">
                        <label class="label" for="d60">D</label>
                    </div>
                </fieldset>
                <fieldset class="form-group categorias">
                    <legend class="mt-4 title2">Matematicas</legend>
                    <div class="espacio_title"></div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 61</p>
                        <input type="radio" name="p61" value="a" id="a61">
                        <label class="label" id="a" for="a61">A</label>
                        <input type="radio" name="p61" value="b" id="b61">
                        <label class="label" for="b61">B</label>
                        <input type="radio" name="p61" value="c" id="c61">
                        <label class="label" for="c61">C</label>
                        <input type="radio" name="p61" value="d" id="d61">
                        <label class="label" for="d61">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 62</p>
                        <input type="radio" name="p62" value="a" id="a62">
                        <label class="label" id="a" for="a62">A</label>
                        <input type="radio" name="p62" value="b" id="b62">
                        <label class="label" for="b62">B</label>
                        <input type="radio" name="p62" value="c" id="c62">
                        <label class="label" for="c62">C</label>
                        <input type="radio" name="p62" value="d" id="d62">
                        <label class="label" for="d62">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 63</p>
                        <input type="radio" name="p63" value="a" id="a63">
                        <label class="label" id="a" for="a63">A</label>
                        <input type="radio" name="p63" value="b" id="b63">
                        <label class="label" for="b63">B</label>
                        <input type="radio" name="p63" value="c" id="c63">
                        <label class="label" for="c63">C</label>
                        <input type="radio" name="p63" value="d" id="d63">
                        <label class="label" for="d63">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 64</p>
                        <input type="radio" name="p64" value="a" id="a64">
                        <label class="label" id="a" for="a64">A</label>
                        <input type="radio" name="p64" value="b" id="b64">
                        <label class="label" for="b64">B</label>
                        <input type="radio" name="p64" value="c" id="c64">
                        <label class="label" for="c64">C</label>
                        <input type="radio" name="p64" value="d" id="d64">
                        <label class="label" for="d64">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 65</p>
                        <input type="radio" name="p65" value="a" id="a65">
                        <label class="label" id="a" for="a65">A</label>
                        <input type="radio" name="p65" value="b" id="b65">
                        <label class="label" for="b65">B</label>
                        <input type="radio" name="p65" value="c" id="c65">
                        <label class="label" for="c65">C</label>
                        <input type="radio" name="p65" value="d" id="d65">
                        <label class="label" for="d65">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 66</p>
                        <input type="radio" name="p66" value="a" id="a66">
                        <label class="label" id="a" for="a66">A</label>
                        <input type="radio" name="p66" value="b" id="b66">
                        <label class="label" for="b66">B</label>
                        <input type="radio" name="p66" value="c" id="c66">
                        <label class="label" for="c66">C</label>
                        <input type="radio" name="p66" value="d" id="d66">
                        <label class="label" for="d66">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 67</p>
                        <input type="radio" name="p67" value="a" id="a67">
                        <label class="label" id="a" for="a67">A</label>
                        <input type="radio" name="p67" value="b" id="b67">
                        <label class="label" for="b67">B</label>
                        <input type="radio" name="p67" value="c" id="c67">
                        <label class="label" for="c67">C</label>
                        <input type="radio" name="p67" value="d" id="d67">
                        <label class="label" for="d67">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 68</p>
                        <input type="radio" name="p68" value="a" id="a68">
                        <label class="label" id="a" for="a68">A</label>
                        <input type="radio" name="p68" value="b" id="b68">
                        <label class="label" for="b68">B</label>
                        <input type="radio" name="p68" value="c" id="c68">
                        <label class="label" for="c68">C</label>
                        <input type="radio" name="p68" value="d" id="d68">
                        <label class="label" for="d68">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 69</p>
                        <input type="radio" name="p69" value="a" id="a69">
                        <label class="label" id="a" for="a69">A</label>
                        <input type="radio" name="p69" value="b" id="b69">
                        <label class="label" for="b69">B</label>
                        <input type="radio" name="p69" value="c" id="c69">
                        <label class="label" for="c69">C</label>
                        <input type="radio" name="p69" value="d" id="d69">
                        <label class="label" for="d69">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 70</p>
                        <input type="radio" name="p70" value="a" id="a70">
                        <label class="label" id="a" for="a71">A</label>
                        <input type="radio" name="p70" value="b" id="b70">
                        <label class="label" for="b70">B</label>
                        <input type="radio" name="p70" value="c" id="c70">
                        <label class="label" for="c70">C</label>
                        <input type="radio" name="p70" value="d" id="d70">
                        <label class="label" for="d70">D</label>
                    </div>
                </fieldset>
                <fieldset class="form-group categorias">
                    <legend class="mt-4 title2">Física</legend>
                    <div class="espacio_title"></div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 71</p>
                        <input type="radio" name="p71" value="a" id="a71">
                        <label class="label" id="a" for="a71">A</label>
                        <input type="radio" name="p71" value="b" id="b71">
                        <label class="label" for="b71">B</label>
                        <input type="radio" name="p71" value="c" id="c71">
                        <label class="label" for="c71">C</label>
                        <input type="radio" name="p71" value="d" id="d71">
                        <label class="label" for="d71">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 72</p>
                        <input type="radio" name="p72" value="a" id="a72">
                        <label class="label" id="a" for="a72">A</label>
                        <input type="radio" name="p72" value="b" id="b72">
                        <label class="label" for="b72">B</label>
                        <input type="radio" name="p72" value="c" id="c72">
                        <label class="label" for="c72">C</label>
                        <input type="radio" name="p72" value="d" id="d72">
                        <label class="label" for="d72">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 73</p>
                        <input type="radio" name="p73" value="a" id="a73">
                        <label class="label" id="a" for="a73">A</label>
                        <input type="radio" name="p73" value="b" id="b73">
                        <label class="label" for="b73">B</label>
                        <input type="radio" name="p73" value="c" id="c73">
                        <label class="label" for="c73">C</label>
                        <input type="radio" name="p73" value="d" id="d73">
                        <label class="label" for="d73">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 74</p>
                        <input type="radio" name="p74" value="a" id="a74">
                        <label class="label" id="a" for="a74">A</label>
                        <input type="radio" name="p74" value="b" id="b74">
                        <label class="label" for="b74">B</label>
                        <input type="radio" name="p74" value="c" id="c74">
                        <label class="label" for="c74">C</label>
                        <input type="radio" name="p74" value="d" id="d74">
                        <label class="label" for="d74">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 75</p>
                        <input type="radio" name="p75" value="a" id="a75">
                        <label class="label" id="a" for="a75">A</label>
                        <input type="radio" name="p75" value="b" id="b75">
                        <label class="label" for="b75">B</label>
                        <input type="radio" name="p75" value="c" id="c75">
                        <label class="label" for="c75">C</label>
                        <input type="radio" name="p75" value="d" id="d75">
                        <label class="label" for="d75">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 76</p>
                        <input type="radio" name="p76" value="a" id="a76">
                        <label class="label" id="a" for="a76">A</label>
                        <input type="radio" name="p76" value="b" id="b76">
                        <label class="label" for="b76">B</label>
                        <input type="radio" name="p76" value="c" id="c76">
                        <label class="label" for="c76">C</label>
                        <input type="radio" name="p76" value="d" id="d76">
                        <label class="label" for="d76">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 77</p>
                        <input type="radio" name="p77" value="a" id="a77">
                        <label class="label" id="a" for="a77">A</label>
                        <input type="radio" name="p77" value="b" id="b77">
                        <label class="label" for="b77">B</label>
                        <input type="radio" name="p77" value="c" id="c77">
                        <label class="label" for="c77">C</label>
                        <input type="radio" name="p77" value="d" id="d77">
                        <label class="label" for="d77">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 78</p>
                        <input type="radio" name="p78" value="a" id="a78">
                        <label class="label" id="a" for="a78">A</label>
                        <input type="radio" name="p78" value="b" id="b78">
                        <label class="label" for="b78">B</label>
                        <input type="radio" name="p78" value="c" id="c78">
                        <label class="label" for="c78">C</label>
                        <input type="radio" name="p78" value="d" id="d78">
                        <label class="label" for="d78">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 79</p>
                        <input type="radio" name="p79" value="a" id="a79">
                        <label class="label" id="a" for="a79">A</label>
                        <input type="radio" name="p79" value="b" id="b79">
                        <label class="label" for="b79">B</label>
                        <input type="radio" name="p79" value="c" id="c79">
                        <label class="label" for="c79">C</label>
                        <input type="radio" name="p79" value="d" id="d79">
                        <label class="label" for="d79">D</label>
                    </div>
                    <div class="respuestas">
                        <p class="title3">Pregunta 80</p>
                        <input type="radio" name="p80" value="a" id="a80">
                        <label class="label" id="a" for="a80">A</label>
                        <input type="radio" name="p80" value="b" id="b80">
                        <label class="label" for="b80">B</label>
                        <input type="radio" name="p80" value="c" id="c80">
                        <label class="label" for="c80">C</label>
                        <input type="radio" name="p80" value="d" id="d80">
                        <label class="label" for="d80">D</label>
                    </div>
                </fieldset>
                <center>
                    <form method="post" id="rexamen" action="">
                        <input type="text" id="resultado" readonly>
                    </form>
                    <button type="button" id="fin" onclick="verificarRespuesta()" disabled>Finalizar</button>
                    </center>
            </form>
            
        </div>