<header>
       
        <div class="margin__title">
            <p title="NoNeim" class= "fuente__title animate__animated animate__bounceInUp animate__slower">NoNeim</p>
        </div>
        <nav>
            <a href="index.html"><i class="fas fa-home"></i> Inicio</a>
            <a href="iniciarsesion.html"><i class="fas fa-user-tie"></i> Iniciar Sesión</a>
        </nav>
    </header>
    <section>
        <form method="post" name="registro" action="/links/add" >
                        nombre<input type="text" name="Nombre" size="30" > 
                        apellido<input type="text" name="Ap_pat" size="30" >       
                        apellido<input type="text" name="Ap_mat" size="30" > 
                        correo<input type="email" name="correo" size="30" > 
                        usuario<input type="text" name="usuario" size="30" >       
                        contraseña<input type="password" name="contra" size="30" > 
                        <input type="submit" value="Registrar">                    
        </form>
    </section>