<section>
        <a id="cecyts_imagenes" class="article" href="/usuario/examen">
            <p class="title2">Examen</p>
            <img class="article_img" src="/images/unDraw/exam.svg" alt="Error al cargar la imagen">
        </a>
        <a id="cecyts_imagenes" class="article" href="/usuario/materias">
            <p class="title2">Cuestionarios</p>
            <img class="article_img" src="/images/unDraw/form.svg" alt="Error al cargar la imagen">
        </a>
        <a class="article" href="/usuario/escuelas" >
            <p class="title2">Escuelas</p>
            <img class="article_img" src="/images/unDraw/steps.svg" alt="Error al cargar la imagen">
        </a>
        <a id="article_izq" class="article" href="/usuario/comipems">
            <p class="title2">COMIPEMS</p>
            <img class="article_img" src="/images/unDraw/digital.svg" alt="Error al cargar la imagen">
        </a>
        
    </section>