<section>
        <div class="espacio" id="espacio">
            <p class="title2">¿Qué es COMIPEMS?</p>
            <div class="derecha">
                <p class="justificado">
                    <b>COMIPEMS</b> (Comisión Metropolitana de Instituciones Públicas de Educación Media Superior) es la institución encargada en organizar anualmente el concurso para la selección de escuela a <b>Nivel Medio Superior</b> en el área metropolitana (CDMX y Estado de México)
                    <br>
                    En este proceso de admisión los aspirantes concursan para ingresar en las siguientes instituciones
                    <br><br>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Colegio de Bachilleres <b>(COLBACH)</b></li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Colegio Nacional de Educación Profesional Técnica <b>(CONALEP)</b></li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Dirección General del Bachillerato <b>(DGB)</b></li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Dirección General de Educación Tecnológica Agropecuaria <b>(DGETA)</b></li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Dirección General de Educación Tecnológica Industrial <b>(DGETI)</b></li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Instituto Politécnico Nacional <b>(IPN)</b></li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Secretaría de Educación del Gobierno del Estado de México <b>(SE)</b></li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Universidad Autónoma del Estado de México <b>(UAEM)</b></li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Universidad Nacional Autónoma de México <b>(UNAM)</b></li><br>
                        Entre Otros
                    </ul>
                </p>
            </div>
            <div class="izquierda">
                <img class="images animate__animated animate__zoomInLeft animate__slow" src="/images/unDraw/exam.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
        </div><p class="title2">Tipos de Bachilleratos</p>
        <div class="espacio">
            <div class="derecha2">
                <img class="images animate__animated animate__zoomInRight animate__slow" src="/images/unDraw/notebook.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
            <div class="izquierda2">
                <p class="justificado">
                    <p class="subtitle">Bachillerato General</p>
                    <p class="justificado">
                        También se le conoce como "bachillerato" o "preparatoria". Su plan de estudios incluye materias como español, matemáticas, ciencias sociales, ciencias naturales, filosofía y artes. De esta forma, te prepara de forma integral para el ingreso a la educación superior. De ahí el nombre que conocemos: "preparatorioa".
                        <br>
                        Aquí encontramos opciones como:
                    </p>
                    <br><br>
                    <li><i class="fas fa-pencil-ruler"></i> Colegio de Bachilleres <b>(Colbach)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Centros de Estudios de Bachillerato <b>(CEB-DGB)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Preparatorias Oficiales y Anexas a Escuelas Normales <b>(SE)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Escuela Nacional Preparatoria <b>(ENP-UNAM)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Colegio de Ciencias y Humanidades <b>(CCH-UNAM)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Telebachilleratos Comunitarios <b>(CCH-UNAM)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Bachilleratos de las Universidades Autónomas estatales</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Bachilleratos Militares del Ejército y de la Heróica Escuela Naval Militar</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Telebachillerato</li><br>
                </p>
            </div>
        </div>
        <div class="espacio">
            <div class="derecha" id="tronco">
                <p class="subtitle">Bachillerato Tecnológico</p>
                <p class="justificado">
                    Es bivalente, estudiarás tanto la escuela preparatoria como una carrera técnica. Sus cursos preparatorios son los mismos que los de bachillerato general, pero al mismo tiempo estudiarás asignaturas de tecnología para un grado técnico de nivel intermedio en una disciplina (informática, gestión, diseño, turismo, etc.).
                    <br>
                    Al finalizar tus estudios, recibirás un certificado de bachillerato, a parte de cumplir con los requisitos y haciendo el servicio social te daran un título y certificado de técnico de la profesión adquirida.
                    <br>
                    Aquí hay opciones como:
                    <br><br>
                    <li><i class="fas fa-pencil-ruler"></i> Centros de Bachillerato Tecnológico Agropecuario <b>(CBTA)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Centros de Bachillerato Tecnológico, Industrial y de Servicios <b>(CBTIS)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Centros de Estudios Tecnológicos, Industrial y de Servicios <b>(CETIS)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Centros de Estudios Científicos y Tecnológicos <b>(CECYT-IPN)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Centro de Estudios Tecnológicos <b>(CET-IPN)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Colegios de Estudios Científicos y Tecnológicos del Estado de México <b>(CECYTEM)</b></li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Centros de Bachillerato Tecnológico <b>(CBT)</b></li><br>
                </p>
            </div>
            <div class="izquierda">
                <img class="images animate__animated animate__zoomInLeft animate__slow" src="/images/unDraw/steps.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
        </div>
        <div class="espacio">
            <div class="derecha2">
                <img class="images animate__animated animate__zoomInRight animate__slow" src="/images/unDraw/analisis.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
            <div class="izquierda2">
                <p class="subtitle">Profesional Técnico</p>
                <p class="justificado">
                    Estos estudios son proporcionados por el Colegio Nacional de Educación Técnica Vocacional <b>(Conalep)</b>. Hay dos maneras:
                    <br><br>
                    Profesionales técnicos. Al finalizar tus estudios, recibirás el Diploma SEP y, si completas los trámites y cumples con las condiciones requeridas, recibirás un certificado profesional. Por lo general, estos son estudios de 'naturaleza última', lo que significa que están destinados a comenzar.
                    <br><br>
                    Técnico Profesional-Bachiller. Formación profesional y técnica en actividades industriales y de servicios (médica, administrativa, comercial). Aquí se obtiene un certificado de licencia técnica profesional y (mediante la realización de los trámites correspondientes) el título y certificado de la especialidad cursada. Este método le permite continuar su educación.
                </p>
            </div>
        </div><p class="title2">Convocatoria</p>
        <div class="derecha">
            <p class="justificado">
                Las instituciones organizan este concurso de asignación de manera uniforme, al aceptar los términos de este aviso, que respeta plenamente las normas y decisiones de las instituciones.
                <br>
                En este contexto, la UNAM diseñará y corregirá su propia prueba y la aplicará a los candidatos que postulen a este concurso y seleccionen una de las escuelas como su primera opción preferida. La UNAM mantendrá su participación en todos los mecanismos de coordinación con otras organizaciones que integran el Comipem, y aprobará el examen que será diseñado y calificado por el Centro Nacional de Evaluación de la Educación Superior, AC (Ceneval).
                <br>
                <p class="subtitle">Tipos de Aspirantes</p>
                <br>
                <p class="justificado">
                    <li><i class="fas fa-pencil-ruler"></i> <b>Aspirante local</b> a la persona que se registra en el concurso de asignación mientras está estudiando el tercer grado de educación secundaria en una escuela ubicada en la Zona Metropolitana de la Ciudad de México.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> <b>Aspirante egresado</b> a la persona que, cuando se registra al concurso de asignación, ya cuenta con su certificado de educación secundaria.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> <b>Aspirante foráneo</b> a la persona que se registra en el concurso de asignación mientras está estudiando el tercer grado de educación secundaria en una escuela ubicada fuera de la Zona Metropolitana de la Ciudad de México. </li><br>
                    <li><i class="fas fa-pencil-ruler"></i> <b>Aspirante INEA</b> a la persona que se registra en el concurso de asignación mientras está acreditando la educación secundaria en el Instituto Nacional para la Educación de los Adultos (INEA). </li><br>
                </p>
                 
            </p>
        </div>
        <div class="izquierda">
            <img class="images animate__animated animate__zoomInLeft animate__slow" src="/images/unDraw/digital.svg" alt="Error al cargar la imagen" title="Examen">
        </div>
        <div class="espacio">
            <div class="derecha2">
                <img class="images animate__animated animate__zoomInRight animate__slow" src="/images/unDraw/aero.svg" alt="Error al cargar la imagen" title="Examen">
                <div class="espacio3"></div>
                <img id="segunda_imagen" class="images animate__animated animate__zoomInRight animate__slow" src="/images/unDraw/quimico.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
            <div class="izquierda2">
                <p class="subtitle">Materiales Para El Registro</p>
                <p class="justificado">
                    Antes del registro, todos los solicitantes recibirán un <b>instructivo</b> de usuario que contiene una lista de los centros de registro, una guía de opciones educativas y explica los pasos y procedimientos para participar en el concurso. Estas instrucciones y otros materiales se pueden encontrar a partir del 17 de enero en las siguientes direcciones web: <b><u><a href="https://www.comipems.org.mx" target="_Blank">www.comipems.org.mx</a></u></b> y <b><u><a href="https://www.gob.mx/sep" target="_Blank">www.gob.mx/sep</a></u></b>
                    <p class="subtitle">Pre-Registro</p>
                    Todos los aspirantes regulares (que no adeudan asignaturas de primero y segundo grado de educación secundaria, sean locales, foráneos, egresados y del INEA) deberán realizar su pre-registro vía internet en el portal www.comipems.org.mx, para lo cual deberán contar con una cuenta de correo electrónico personal, a la cual la Comipems enviará información relacionada con el concurso de asignación. En caso de que el aspirante carezca de cuenta de correo electrónico el sistema de pre-registro le permitirá, si así lo desea, crear una.
                    <br><br>
                    El periodo para realizarlo será del 18 de enero al 19 de febrero, al término del cual deberán:
                    <br><br>
                    <li><i class="fas fa-pencil-ruler"></i> Contestar la Encuesta de Datos Generales.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Imprimir su Solicitud de Registro. Los aspirantes locales, foráneos y egresados deberán pegar en el ángulo superior derecho una fotografía reciente tamaño infantil, a color o blanco y negro, impresa en papel fotográfico.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Imprimir el listado de opciones educativas solicitadas y anotar su nombre autógrafo con letra de molde y su firma, así como el nombre y la firma de su madre, padre o tutor en el espacio correspondiente. La selección de las opciones educativas será responsabilidad exclusiva del aspirante y de sus padres o tutores.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> <b>Imprimir el formato para el depósito bancario</b>. Por la cantidad de <b>$385.00</b> (trescientos ochenta y cinco pesos 00/100 M.N.) que cubre los gastos de los servicios y materiales utilizados en el concurso. Dicho monto se pagará en el banco que indica el formato.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Los aspirantes foráneos y los del INEA deberán imprimir y firmar su carta compromiso.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Los aspirantes con discapacidad deberán imprimir y firmar el Formato Solicitud de Apoyo para Aspirantes con Discapacidad.</li><br> 
                </p>
            </div>
        </div>
        <div class="espacio">
            <div class="derecha">
                <p class="subtitle">Requisitos Para Concursar</p>
                <p class="justificado">
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> 
                            Estar inscrito en el tercer grado de educación secundaria y tener acreditadas todas las asignaturas del primero y segundo grados.
                            En caso de haber concluido la educación secundaria, contar con el certificado correspondiente al momento de realizar el registro.
                            En caso de estar inscrito en el INEA, contar con una constancia en papel membretado del INEA firmada por algún funcionario autorizado del propio Instituto y con fotografía sellada, mediante la cual se avale que podrán obtener su certificado de educación secundaria a más tardar el 9 de julio de 2021.
                        </li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Realizar su pre-registro y contestar la Encuesta de Datos Generales (en la que asentarán diversos datos para fines estadísticos y de investigación) vía internet en <b><u><a href="https://www.comipems.org.mx" target="_Blank">www.comipems.org.mx</a></u></b></li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Acudir personalmente a registrarse en el centro respectivo, en el horario, la fecha y lugar que correspondan, en la solicitud de registro obtenida vía internet.</li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Entregar los documentos y efectuar el depósito.</li><br>
                    </ul>
                </p>
            </div>
            <div class="izquierda">
                
            </div>
        </div>
        <div class="espacio">
            <div class="derecha2">
                <img class="images animate__animated animate__zoomInRight animate__slow" src="/images/unDraw/pintura.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
            <div class="izquierda2">
                <p class="justificado">
                    <p class="subtitle">Registro</p>
                    <p class="justificado">
                        Todos los aspirantes (locales, foráneos, egresados y del INEA) deberán realizar su pre-registro y acudir personalmente al centro de registro que les corresponde, según el siguiente calendario:
                    <br><br>
                    <table>
                        <tr>
                            <th>Primer Apellido Del Aspirante</th>
                            <th>Día de su Registro</th>
                        </tr>
                        <tr>
                            <td>A, B</td>
                            <td> 2 Marzo</td>
                        </tr>
                        <tr>
                            <td>C, CH</td>
                            <td> 3 Marzo</td>
                        </tr>
                        <tr>
                            <td>D, E, F</td>
                            <td> 4 Marzo</td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td> 5 Marzo</td>
                        </tr>
                        <tr>
                            <td>H, I, J, K, L, LL</td>
                            <td> 8 Marzo</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td> 9 Marzo</td>
                        </tr>
                        <tr>
                            <td>N, Ñ, O, P, Q</td>
                            <td> 10 Marzo</td>
                        </tr>
                        <tr>
                            <td>R</td>
                            <td> 11 Marzo</td>
                        </tr>
                        <tr>
                            <td>S, T</td>
                            <td> 12 Marzo</td>
                        </tr>
                        <tr>
                            <td>U, V, W, X, Y ,Z</td>
                            <td> 16 Marzo</td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
        <div class="espacio">
            <div class="derecha2">
                <img id="segunda_imagen" class="images animate__animated animate__zoomInRight animate__slow" src="/images/unDraw/telecom.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
            <div class="izquierda2">
                <p class="justificado">
                    <p class="subtitle">Documentos que debe llevar el día del Registro</p>
                    <br><br>
                    <li><i class="fas fa-pencil-ruler"></i> Solicitud de Registro obtenida vía internet, debidamente requisitada conforme a lo señalado en el Instructivo del concurso.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Listado de Opciones Educativas. Obtenida vía internet, con el nombre autógrafo con letra de molde y la firma del aspirante, así como el nombre y la firma de la madre, padre o tutor en el espacio correspondiente, aceptando la participación en el concurso de asignación 2021 y su conformidad con  las bases descritas en la presente convocatoria. En caso de que el aspirante cuente con la mayoría de edad, no será necesario  que la solicitud sea firmada por la madre, padre o tutor.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Comprobante de depósito bancario, a nombre del Ceneval, con la referencia bancaria del aspirante y el sello del cajero de la sucursal bancaria receptora.</li><br>
                    <br><br>
                    Los <b>aspirantes  egresados</b> deberán mostrar el original de su certificado de educación secundaria o de educación básica y entregar una fotocopia.
                    <br><br>
                    Los <b>aspirantes INEA</b>: deberán entregar una constancia en papel membretado del INEA firmada por algún funcionario autorizado del  propio Instituto y con fotografía sellada, mediante la cual se avale que podrán obtener su certificado de educación secundaria a  más tardar el 9 de julio de 2021.
                    <br><br>
                    Los <b>aspirantes foráneos y los del INEA</b> deberán entregar firmada su carta compromiso, documento mediante el cual se comprometen a enviar el archivo electrónico de su certificado de educación secundaria y capturar sus datos de certificación en el apartado ASPIRANTES FORÁNEOS E INEA de la página <b><u><a href="https://www.comipems.org.mx" target="_Blank">www.comipems.org.mx</a></u></b>, entre el 9 y el 16 de julio de 2021.
                    <br><br>
                    Los <b>aspirantes con discapacidad</b>, requieran o no algún tipo de apoyo para el día de la aplicación del examen, deberán entregar debidamente firmado el Formato Solicitud de Apoyo para Aspirantes con Discapacidad.
                </p>
            </div>
        </div>
        <div class="espacio">
            <div>
                <p class="subtitle">Lugares Del Registro</p>
                <p class="justificado">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.0553858394937!2d-99.13761984980943!3d19.496252786783657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f9b0903dd831%3A0xef0362ce680787c8!2sCentro%20Cultural%20Jaime%20Torres%20Bodet!5e0!3m2!1ses-419!2smx!4v1636335528065!5m2!1ses-419!2smx" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <div class="text_izq" id="texto__izq">
                            <p>
                                <b>Los aspirantes egresados</b>
                                <br><br>
                                Deberán registrarse en el Centro de Registro 01: IPN-Centro Cultural "Jaime Torres Bodet" en la  en la Unidad Profesional  “Adolfo  López  Mateos”,  Av.  Wilfrido Massieu s/n esq. con Av. Instituto Politécnico Nacional (IPN), Col. Zacatenco, C.P. 07738, Alcaldía Gustavo A. Madero.
                            </p>
                        </div>
                        <div class="espacio4"></div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.6746525130493!2d-99.13138414981215!3d19.339919186872873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fe274ca24ac1%3A0x3acd2890a5365a7a!2sCentro%20de%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20N%C2%B0%2013%20%22Ricardo%20Flores%20Mag%C3%B3n%22%20IPN!5e0!3m2!1ses-419!2smx!4v1634507035959!5m2!1ses-419!2smx" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <div class="text_izq" id="texto__izq">
                            <p>
                                <b>Los aspirantes foráneos</b>
                                <br><br>
                                Deberán registrarse en el Centro de Registro 02: IPN-Centro de Estudios  Científicos  y  Tecnológicos  (CECyT 13)  “Ricardo  Flores  Magón”,  Av.  Taxqueña Núm.  1620,  Col.  Paseos  de  Taxqueña.  C.P. 04250 Alcaldía Coyoacán.
                            </p>
                        </div>
                        <div class="espacio4"></div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.256660959323!2d-99.10190164981107!3d19.401313386837852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fc27c00f15d7%3A0xd1a53cb31372cb73!2sCentro%20Multimodal%20-%20DGECyTM!5e0!3m2!1ses-419!2smx!4v1636335616458!5m2!1ses-419!2smx" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <div class="text_izq" id="texto__izq">
                            <p>
                                <b>Los aspirantes del INEA</b>
                                <br><br>
                                Deberán registrarse en el Centro de Registro 03: Centro Multimodal de Estudios Científicos y Tecnológicos del Mar y Aguas Continentales, Azafrán Núm. 386, Col. Granjas México, C.P. 08400, Alcaldía Iztacalco.
                            </p>
                        </div>
                        <div class="espacio4"></div>
                        <p>
                            <b>Los aspirantes locales</b>, es decir, quienes cursan el tercer grado de educación secundaria en la Zona Metropolitana, deberán registrarse en el centro que elijan al momento de realizar su pre-registro, dentro de las opciones que el sistema les muestre de acuerdo a la ubicación de la escuela donde cursen su educación secundaria y se indicará dicho centro en su solicitud de registro. Cuando existan dos o más centros de registro para una alcaldía o municipio, el aspirante deberá acudir al que se indique en su solicitud de registro (consultar las páginas 33 a 36 del Instructivo).
                        </p>
                </p>
            </div>
        </div>
        <div class="espacio">
            <div class="derecha">
                <p class="subtitle">Examen</p>
                <p class="justificado">
                    Los aspirantes deberán presentarse puntualmente al examen el sábado 19 o 26 o el domingo 20 o 27 de junio, según lo indique su nuevo comprobante-credencial, en el lugar y hora señalados en éste. <b>En ningún caso se podrá presentar el examen en una sede, fecha u horario diferente</b>.  Para resolver el examen el aspirante dispondrá de <b>un máximo de 3 horas</b> efectivas (contadas a partir de la instrucción de inicio que da el aplicador). <b>Deberán llevar únicamente lápiz del número 2 1⁄2, goma y sacapuntas,</b>
                    <br><br>
                    <b> NO se permitirá introducir ningún otro tipo de objetos</b> como: mochilas,  fólderes, calculadoras, celulares, dispositivos electrónicos, etc. El uso de celular o dispositivos electrónicos durante el examen es motivo de cancelación.
                    <br><br>
                    Los exámenes, el que aplicará la UNAM y el del Ceneval, <b>serán técnicamente equivalentes y constarán de 128 preguntas de opción múltiple</b>, mismas que abordarán exclusivamente habilidades y conocimientos básicos relacionados con el plan y los programas de estudio oficiales de educación secundaria.
                </p>
            </div>
            <div class="izquierda">
                <img class="images animate__animated animate__zoomInLeft animate__slow" src="/images/unDraw/maestro.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
        </div>
        <div class="espacio">
            <div class="derecha">
                <p class="subtitle">Verificación de Datos</p>
                <p class="justificado">
                    Con el fin de garantizar que los estudiantes hayan completado con éxito su educación secundaria antes de la inscripción, Comipems tomará las medidas necesarias para verificar los registros académicos del estudiante. Estos trámites son específicos para cada tipo de solicitante debido a que Comipems no cuenta con una base de datos única que le permita verificar certificados y completar procesos de educación secundaria, por esto:
                    <br><br>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> En el caso de los <b>aspirantes locales</b> la verificación se realizará a través de la consulta de las bases de datos de control escolar que proporcionen las autoridades educativas competentes.</li><br>
                        <li><i class="fas fa-pencil-ruler"></i> La verificación de los antecedentes escolares de los <b>aspirantes egresados</b>, se realizará a través de la presentación del original del certificado de educación secundaria o educación básica en la etapa de registro.</li><br>
                        <li><i class="fas fa-pencil-ruler"></i> Los <b>aspirantes foráneos y los del INEA</b> deberán comprobar sus antecedentes escolares entre el 9 y el 16 de julio, ingresando al apartado ASPIRANTES FORÁNEOS E INEA de la página <b><u><a href="https://www.comipems.org.mx" target="_Blank">www.comipems.org.mx</a></u></b> para enviar el archivo electrónico de su certificado de educación secundaria y capturar sus datos de certificación. El certificado deberá ser expedido a más tardar el 9 de julio de 2021. Al terminar este trámite podrán descargar y recibir por correo electrónico un documento comprobatorio del mismo. En caso de que el aspirante no cuente con su certificado a pesar de haber concluido satisfactoriamente su educación secundaria, en sustitución de este documento deberá enviar el archivo electrónico de una constancia oficial, en las fechas y apartado antes señalados, en la que se exprese que el aspirante concluyó la educación secundaria a más tardar el 9 de julio de 2021, el promedio general obtenido y la causa por la cual el aspirante no cuenta aún con su certificado.</li><br>
                    </ul>
                </p>
            </div>
            <div class="izquierda">
                <img id="segunda_imagen" class="images animate__animated animate__zoomInLeft animate__slow" src="/images/unDraw/progra2.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
            <div>
                <p class="justificado">
                    Esta constancia oficial deberá ser expedida:
                    <br>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> En el caso de los aspirantes foráneos, por el Área de Registro y Certificación de la autoridad educativa estatal correspondiente.</li> 
                        <li><i class="fas fa-pencil-ruler"></i> En el caso de los aspirantes del INEA, por la Subdirección de Normatividad y Evaluación del Aprendizaje de las oficinas centrales del INEA. No se aceptará ningún otro tipo de constancia.</li>
                    </ul>
                    Las constancias de estudios que se extiendan únicamente servirán para comprobar que los aspirantes Foráneos y los del INEA concluyeron de manera satisfactoria la Educación Secundaria. Para que puedan realizar su inscripción en la opción educativa en que sean asignados es necesario que presenten el certificado original expedido a más tardar el 9 de julio de  2021.
                    <br><br>
                    En cualquier caso, las instituciones integrantes de la Comipems, en ejercicio de sus atribuciones y en su ámbito de competencia, <b>podrán realizar todas las acciones necesarias para verificar la veracidad de los antecedentes escolares de los aspirantes</b>.
                    <br>
                    <b>Quedarán fuera del concurso de asignación aquellos aspirantes cuyos antecedentes escolares no puedan ser verificados o resulten falsos.</b> Sin que esto exima al aspirante de los procedimientos jurídicos que cada institución determine para estos casos.
                </p>
            </div>
        </div>
        <div class="espacio">
            <div class="derecha2">
                <img id="segunda_imagen" class="images animate__animated animate__zoomInRight animate__slow" src="/images/unDraw/info.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
            <div class="izquierda2">
                <p class="justificado">
                    <p class="subtitle">Reglas de la Asignación de Datos</p>
                    <br>
                    La asignación de lugares se realizará solo entre los aspirantes que cumplan con los siguientes requisitos:
                    <br><br>
                    <li><i class="fas fa-pencil-ruler"></i> Sustentar el examen en el lugar, fecha y hora señalados en el comprobante-credencial que el aspirante recibirá al concluir el registro.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Contar con certificado de educación básica o de educación secundaria expedido a más tardar el 9 julio de 2021, y en el caso de los aspirantes foráneos y los del INEA.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Cumplir con los requisitos particulares que fija cada institución, según se informa en el Instructivo del concurso (revisar páginas 47 a 62).</li><br>
                    <br>
                    <b>Los elementos para asignar un lugar a un aspirante serán el número de aciertos obtenidos en el examen respectivo</b>, las preferencias educativas y el número de lugares disponibles en cada opción educativa seleccionada. El criterio de asignación es darle prioridad al número de aciertos obtenido en el examen siempre y cuando se cumplan los requisitos de certificación.
                    <br><br>
                    <b>Por lo tanto, los aspirantes serán ordenados según el número de aciertos obtenido en el examen (de mayor a menor). En ese orden, a cada aspirante le será asignado un lugar en la opción educativa de su más alta preferencia que disponga de cupo, conforme a la jerarquización de preferencias que aparece en su comprobante-credencial.</b>
                    <br><br>
                    El Instructivo del concurso contiene una explicación más detallada de este procedimiento.
                    <br><br>
                    <b>Los aspirantes con igual puntaje en el examen tendrán el mismo derecho de asignación, en caso de coincidir en la misma opción educativa solicitada.</b>
                </p>
            </div>
        </div>
        <div class="espacio">
            <div class="derecha">
                <p class="subtitle">Publicación de Datos</p>
                <p class="justificado">
                    La Gaceta Electrónica de Resultados será el único documento oficial mediante el cual se publiquen los resultados del concurso de asignación, dicho documento estará disponible <b>a partir del viernes 30 de julio del año en curso</b> en la siguiente dirección electrónica: <b><u><a href="https://www.comipems.org.mx">www.comipems.org.mx</a></u></b>
                    Adicionalmente los aspirantes podrán consultar su resultado en las siguientes páginas de internet: <b><u><a href="https://www.comipems.org.mx">www.comipems.org.mx</a></u></b> o <b><u><a href="https:/www.gob.mx/sep">www.gob.mx/sep</a></u></b>, <b>para lo cual requieren su número de FOLIO y su CURP</b>. En este caso, el Resultado individual del proceso de asignación 2021 es únicamente un reporte de carácter informativo sin validez oficial.
                    <br><br>
                    La Gaceta Electrónica de Resultados incluirá el número de aciertos que logró cada aspirante en el examen, así como la opción educativa que le fue asignada en el concurso. En caso de que el aspirante no haya obtenido un lugar en el concurso, se indicará la causa.
                    <br><br>
                    En la Gaceta Electrónica de Resultados también se identificará a los aspirantes que, habiendo cumplido con todos los requisitos, no alcanzaron el número suficiente de aciertos para obtener un lugar en alguno de los planteles que escogieron. Estos aspirantes <b>(identificados con la clave CDO)</b> podrán solicitar posteriormente su inscripción en uno de los planteles que aún tengan lugares disponibles
                </p>
            </div>
            <div class="izquierda">
                <img class="images animate__animated animate__zoomInLeft animate__slow" src="/images/unDraw/market.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
        </div>
        <div class="espacio">
            <div class="derecha2">
                <img class="images animate__animated animate__zoomInRight animate__slow" src="/images/unDraw/computer2.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
            <div class="izquierda2">
                <p class="justificado">
                    <p class="subtitle">Inscripción</p>
                    Los aspirantes únicamente podrán realizar su inscripción a una opción educativa cuando hayan sido asignados mediante el concurso de asignación 2021 (sin excepción).
                    <br><br>
                    En la Gaceta Electrónica de Resultados se informará de los lugares y las fechas para realizar la inscripción en las instituciones educativas. Asimismo, se informará de los documentos que les serán solicitados y los requisitos que deberán cumplir los aspirantes asignados.
                    <br><br>
                    Todo aspirante asignado que no cuente con su certificado de educación básica o de educación secundaria expedido a más tardar el 9 de julio de 2021 o que no cumpla con los requisitos particulares que fija cada institución, según se informa en el instructivo del concurso (revisar páginas 47 a 62), no podrá inscribirse en la opción educativa asignada.
                    <br><br>
                    <p class="subtitle">En caso de no quedar en tus opciones</p>
                    Las instituciones convocantes, cuyos planteles y especialidades aún tengan lugares disponibles después del 5 de agosto de 2021, ofrecerán dichos lugares mediante sus procedimientos.
                </p>
            </div>
        </div>
        <div class="espacio">
            <div class="derecha">
                <p class="subtitle">Contactos</p>
                <p class="justificado">
                    Para cualquier aclaración sobre el Concurso:
                    <br>
                    Llamar a los teléfonos:
                    <br>
                    <ul>
                        Educatel (de lunes a viernes en horario de 8:00 a 20:00 horas)
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> 55 36 01 75 99</li><br>
                        <li><i class="fas fa-pencil-ruler"></i> 800 288 66 88 (lada sin costo)</li><br>
                    </ul>
                    Consultar las páginas electrónicas:
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> <b><u><a href="https://www.comipems.org.mx" target="_Blank">www.comipems.org.mx</a></u></b> o <b><u><a href="https://www.gob.mx/sep">www.gob.mx/sep</a></u></b></li><br>
                    </ul>
                    Enviar un correo electrónico a: contacto@comipems.org.mx
                </p>
            </div>
            <div class="izquierda">
                <img class="images animate__animated animate__zoomInLeft animate__slow" src="/images/unDraw/contacto.svg" alt="Error al cargar la imagen" title="Examen">
            </div>
        </div>
        <p class="title2"> QUIENES COMETAN O COLABOREN EN ALGÚN ACTO FRAUDULENTO INHERENTE AL CONCURSO CAUSARÁN BAJA EN CUALQUIERA DE SUS ETAPAS</p>
    </section>