<section>
        <div>
            <a id="cecyts_imagenes" class="cecyts_article" href="/usuario/cecyt1">
                <img class="cecyt1 animate__animated animate__fadeInLeft animate__slow" src="/images/cecyts/cecyt1.png" alt="Imagen CECyT 1" title="CECyT 1">
                <p class="cecyts_title">CECyT 1</p>
                <p class="cecyts_subtitle">"Gonzalo Vázquez Vela"</p>
                <p class="cecyts_subtitle">Aciertos 88</p>
                <b>Área:<br>Ingeniería y Ciencias Físico Matemáticas</b>
            </a>
            <a id="cecyts_imagenes" class="cecyts_article" href="/usuario/cecyt2">
                <img class="cecyt2 animate__animated animate__fadeInUp animate__slow" src="/images/cecyts/cecyt2.png" alt="Imagen CECyT 2" title="CECyT 2">
                <p class="cecyts_title">CECyT 2</p>
                <p class="cecyts_subtitle">"Miguel Bernard"</p>
                <p class="cecyts_subtitle">Aciertos 89</p>
                <b>Área:<br>Ingeniería y Ciencias Físico Matemáticas</b>
            </a>
            <a id="cecyts_imagenes" class="cecyts_article" href="/usuario/cecyt3">
                <img class="cecyt3 animate__animated animate__fadeInRight animate__slow" src="/images/cecyts/cecyt3.png" alt="Imagen CECyT 3" title="CECyT 3">
                <p class="cecyts_title">CECyT 3</p>
                <p class="cecyts_subtitle">"Estanislao Ramírez Ruiz"</p>
                <p class="cecyts_subtitle">Aciertos 94</p>
                <b>Área:<br>Ingeniería y Ciencias Físico Matemáticas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt4">
                <img class="cecyt4 animate__animated animate__fadeInLeft animate__slow" src="/images/cecyts/cecyt4.jpg" alt="Imagen CECyT 4" title="CECyT 4">
                <p class="cecyts_title">CECyT 4</p>
                <p class="cecyts_subtitle">"Lázaro Cárdenas"</p>
                <p class="cecyts_subtitle">Aciertos 86</p>
                <b>Área:<br>Ingeniería y Ciencias Físico Matemáticas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt5">
                <img class="cecyt5 animate__animated animate__fadeInUp animate__slow" src="/images/cecyts/cecyt5.jpg" alt="Imagen CECyT 5" title="CECyT 5">
                <p class="cecyts_title">CECyT 5</p>
                <p class="cecyts_subtitle">"Benito Juárez"</p>
                <p class="cecyts_subtitle">Aciertos 91</p>
                <b>Área:<br>Ciencias Sociales y Administrativas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt6">
                <img class="cecyt6 animate__animated animate__fadeInRight animate__slow" src="/images/cecyts/cecyt6.png" alt="Imagen CECyT 6" title="CECyT 6">
                <p class="cecyts_title">CECyT 6</p>
                <p class="cecyts_subtitle">"Miguel Othón de Mendizábal"</p>
                <p class="cecyts_subtitle">Aciertos 93</p>
                <b>Área:<br>Ciencias Médico Biológicas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt7">
                <img class="cecyt7 animate__animated animate__fadeInLeft animate__slow" src="/images/cecyts/cecyt7.png" alt="Imagen CECyT 7" title="CECyT 7">
                <p class="cecyts_title">CECyT 7</p>
                <p class="cecyts_subtitle">"Cuauhtémoc"</p>
                <p class="cecyts_subtitle">Aciertos 91</p>
                <b>Área:<br>Ingeniería y Ciencias Físico Matemáticas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt8">
                <img class="cecyt8 animate__animated animate__fadeInUp animate__slow" src="/images/cecyts/cecyt8.png" alt="Imagen CECyT 8" title="CECyT 8">
                <p class="cecyts_title">CECyT 8</p>
                <p class="cecyts_subtitle">"Narciso Bassols"</p>
                <p class="cecyts_subtitle">Aciertos 86</p>
                <b>Área:<br>Ingeniería y Ciencias Físico Matemáticas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt9">
                <img class="cecyt9 animate__animated animate__fadeInRight animate__slow" src="/images/cecyts/cecyt9.png" alt="Imagen CECyT 9" title="CECyT 9">
                <p class="cecyts_title">CECyT 9</p>
                <p class="cecyts_subtitle">"Juan de Dios Bátiz"</p>
                <p class="cecyts_subtitle">Aciertos 105</p>
                <b>Área:<br>Ingeniería y Ciencias Físico Matemáticas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt10">
                <img class="cecyt10 animate__animated animate__fadeInLeft animate__slow" src="/images/cecyts/cecyt10.png" alt="Imagen CECyT 10" title="CECyT 10">
                <p class="cecyts_title">CECyT 10</p>
                <p class="cecyts_subtitle">"Carlos Vallejo Márquez"</p>
                <p class="cecyts_subtitle">Aciertos 85</p>
                <b>Área:<br>Ingeniería y Ciencias Físico Matemáticas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt11">
                <img class="cecyt11 animate__animated animate__fadeInUp animate__slow" src="/images/cecyts/cecyt11.png" alt="Imagen CECyT 11" title="CECyT 11">
                <p class="cecyts_title">CECyT 11</p>
                <p class="cecyts_subtitle">"Wilfrido Massieu"</p>
                <p class="cecyts_subtitle">Aciertos 85</p>
                <b>Área:<br>Ingeniería y Ciencias Físico Matemáticas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt12">
                <img class="cecyt12 animate__animated animate__fadeInRight animate__slow" src="/images/cecyts/cecyt12.png" alt="Imagen CECyT 12" title="CECyT 12">
                <p class="cecyts_title">CECyT 12</p>
                <p class="cecyts_subtitle">"José María Morelos"</p>
                <p class="cecyts_subtitle">Aciertos 86</p>
                <b>Área:<br>Ciencias Sociales y Administrativas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt13">
                <img class="cecyt13 animate__animated animate__fadeInLeft animate__slow" src="/images/cecyts/cecyt13.png" alt="Imagen CECyT 13" title="CECyT 13">
                <p class="cecyts_title">CECyT 13</p>
                <p class="cecyts_subtitle">"Ricardo Flores Magón"</p>
                <p class="cecyts_subtitle">Aciertos 93</p>
                <b>Área:<br>Ciencias Sociales y Administrativas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt14">
                <img class="cecyt14 animate__animated animate__fadeInUp animate__slow" src="/images/cecyts/cecyt14.png" alt="Imagen CECyT 14" title="CECyT 14">
                <p class="cecyts_title">CECyT 14</p>
                <p class="cecyts_subtitle">"Luis Enrique Erro"</p>
                <p class="cecyts_subtitle">Aciertos 87</p>
                <b>Área:<br>Ciencias Sociales y Administrativas</b>
            </a>
            <a class="cecyts_article" href="/usuario/cecyt15">
                <img class="cecyt15 animate__animated animate__fadeInRight animate__slow" src="/images/cecyts/cecyt15.jpg" alt="Imagen CECyT 15" title="CECyT 15">
                <p class="cecyts_title">CECyT 15</p>
                <p class="cecyts_subtitle">"Diódoro Antúnez Echegaray"</p>
                <p class="cecyts_subtitle">Aciertos 90</p>
                <b>Área:<br>Ciencias Médico Biológicas</b>
            </a>
           
        </div>
        <div>
            <p class="title2">IPN</p>
            <p class="justificado">
                El IPN fue fundado en 1936.
                <br>
                Su lema <b>"La técnica al servicio de la Patria"</b>, reflejan su misión y visión. Se busca que el conocimiento y formación que se brinda contribuya al desarrollo científico, tecnológico y de innovación dentro del país.
                <br>
                Se ofrecen bachilleratos tecnológicos con duración de 6 semestres.
                <br><br>
                Bajo 2 tipos de modalidades:
                <br>
                <ul>
                    <li><i class="fas fa-pencil-ruler"></i> Centro de Estudios Científicos y Tecnológicos (CECyT).</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Centro de Estudios Tecnológicos (CET).</li><br>
                </ul>
                La ventaja de este tipo de bachilleratos es que es bivalente y al finalizar obtienes un certificado o título técnico junto con una cédula profesional válidos por la SEP; lo cual permite integrarte al campo laboral.
            </p>
            <p class="justificado">
                <p class="title2">Estudiar En Un CECyT o CET</p>
                Considera estudiar en una prepa IPN si: 
                <br>
                <ul>
                    <li><i class="fas fa-pencil-ruler"></i> Quieres prepararte para que al salir puedas integrarte a un trabajo como técnico.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Tienes el interés de estudiar una ingeniería dentro del IPN. Si estudias en algún CECyT tendrás casi el pase directo.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Te llama la atención las áreas de robótica, tecnologías de la información y de las ciencias exactas. El IPN es una institución educativa que se destaca en estas áreas.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Deseas impulsar tus habilidades de pensamiento analítico así como tus destrezas para la resolución de problemas.</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Te interesa llevar más clases prácticas y laboratorios que materias teóricas.</li><br>
                </ul>
            </p>
            <p class="justificado">
                <p class="title2" id="optativa">Plan de Estudios</p>
                La duración del plan de estudios es de 6 semestres.
                <br>
                Los bachilleratos tecnológicos están organizador por áreas:
                <br>
                <ul>
                    <li><i class="fas fa-pencil-ruler"></i> Ingeniería y ciencias físico matemáticas</li><br>
                    <li><i class="fas fa-pencil-ruler"></i> Ciencias médico biológicas</li><br>
                    <li><i class="fas fa-pencil-ruler"  id="tronco"></i> Ciencias sociales y administrativas</li><br>
                </ul>
            </p>
            <p class="title2">Tronco Común</p>
            <p class="justificado">
                <p class="subtitle">Materias Optativas</p>
                <p class="justificado">
                    Las asignaturas optativas cursadas normalmente en el segundo semestre y en carrera son elegidas en acuerdo con el director de tesis, y tienen la función de fortalecer aspectos teóricos y metodológicos del problema de investigación, de tal manera que durante el tercer semestre los alumnos puedan dedicarse de forma intensiva al trabajo de campo y/o de laboratorio.
                </p>
                <p class="subtitle">Área<br>Ingeniería y Ciencias Físico Matemáticas</p>
                Basa su estudio en las ciencias exactas tales como la física, las matemáticas y la química que en conjunto con otras ramas del saber forman a un profesional con competencias integrales. Si te interesas por el desarrollo, manejo e implementación de la tecnología este es una elección ideal para ti.
                <br><br>
                Las materias que se imparten en esta área son:
                <br>
                <div class="lista">
                    <p class="centro__blue">Primer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Álgebra</li>
                        <li><i class="fas fa-pencil-ruler"></i> Filosofía I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Computación Básica I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Expresión Oral Y Escrita I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Habilidades Del Pensamiento</li>
                        <li><i class="fas fa-pencil-ruler"></i> Historia De México Contemporáneo I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Personal</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional I</li>
                </div>
                <div class="lista">
                    <p class="centro__blue">Segundo Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Geometría Y Trigonometría</li>
                        <li><i class="fas fa-pencil-ruler"></i> Filosofía II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Computación Básica I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Expresión Oral Y Escrita II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Biología Básica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Historia De México Contemporáneo II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional II</li>
                        <br>
                        <a href="#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Comunicación Y Liderazgo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Apreciación Artística</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Investigación De Campo</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Tecer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Geometría Analítica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Física I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés III</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comunicación Científica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Técnico I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Entorno Socioeconómico De México</li>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculo Diferencial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Física II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés IV</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Técnico II</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculo Integral</li>
                        <li><i class="fas fa-pencil-ruler"></i> Física III</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química III</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés V</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional III</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Probabilidad Y Estadística</li>
                        <li><i class="fas fa-pencil-ruler"></i> Física IV</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química IV</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés VI</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional IV</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="/images/unDraw/mate.svg" alt="Error al Cargar" title="Ingeniería y Ciencias Físico Matemáticas">
            </p>
            <p class="justificado">
                <p class="subtitle">Área<br>Ciencias Médico Biológicas</p>
                Basa su estudio en ciencias tales como la Biología, Medicina y Química que en conjunto con otras ramas del saber forman a un profesional con competencias integrales. Sí te interesas por el servicio comunitario y el desarrollo de tecnologías en las áreas de la medicina este es una elección ideal para tí.
                <br><br>
                Las materias que se imparten en esta área son:
                <br>
                <div class="lista">
                    <p class="centro__blue">Primer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Álgebra</li>
                        <li><i class="fas fa-pencil-ruler"></i> Filosofía I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Computación Básica I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Expresión Oral Y Escrita I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Habilidades Del Pensamiento</li>
                        <li><i class="fas fa-pencil-ruler"></i> Historia De México Contemporáneo I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Personal</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional I</li>
                </div>
                <div class="lista">
                    <p class="centro__blue">Segundo Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Geometría Y Trigonometría</li>
                        <li><i class="fas fa-pencil-ruler"></i> Filosofía II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Computación Básica I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Expresión Oral Y Escrita II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Biología Básica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Historia De México Contemporáneo II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional II</li>
                        <br>
                        <a href="#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Comunicación Y Liderazgo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Apreciación Artística</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Investigación De Campo</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Tecer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Geometría Analítica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Física I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés III</li>
                        <li><i class="fas fa-pencil-ruler"></i> Biología Celular</li>
                        <li><i class="fas fa-pencil-ruler"></i> Entorno Socioeconómico De México</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Técnico</li>
                        <li><i class="fas fa-pencil-ruler"></i> Etimologías Griegas</li>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculo Diferencial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Física II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés IV</li>
                        <li><i class="fas fa-pencil-ruler"></i> Biología Humana</li>
                        <li><i class="fas fa-pencil-ruler"></i> Dibujo Biológico</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculo Integral</li>
                        <li><i class="fas fa-pencil-ruler"></i> Física III</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química III</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés V</li>
                        <li><i class="fas fa-pencil-ruler"></i> Continuidad Biológica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional III</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Probabilidad Y Estadística</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química IV</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés VI</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional IV</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="/images/unDraw/laboratorio.svg" alt="Error al Cargar" title="Ciencias Médico Biológicas">
            </p>
            <p class="justificado">
                <p class="subtitle">Área<br>Ciencias Sociales y Administrativas</p>
                Basa su estudio en ciencias sociales tales como la Psicología, Historia y Sociología que en conjunto con otras ramas del saber forman a un profesional con competencias integrales. Sí te interesas por el estudio de los fenómenos sociales, lenguas extranjeras, así como la comunicación oral y escrita este es una elección ideal para tí.
                <br><br>
                Las materias que se imparten en esta área son:
                <br>
                <div class="lista">
                    <p class="centro__blue">Primer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Álgebra</li>
                        <li><i class="fas fa-pencil-ruler"></i> Filosofía I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Computación Básica I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Expresión Oral Y Escrita I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo De Habilidades Del Pensamiento</li>
                        <li><i class="fas fa-pencil-ruler"></i> Historia De México Contemporáneo I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Desarrollo Personal</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional I</li>
                </div>
                <div class="lista">
                    <p class="centro__blue">Segundo Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Geometría Y Trigonometría</li>
                        <li><i class="fas fa-pencil-ruler"></i> Filosofía II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Computación Básica I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Expresión Oral Y Escrita II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Biología Básica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Historia De México Contemporáneo II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional II</li>
                        <br>
                        <a href="#optativa" class="centro__blue" title="¿Qué es Optativa? Ver..."><u>Optativas</u></a>
                        <br><br>
                        <li><i class="fas fa-pencil-ruler"></i> Comunicación Y Liderazgo</li>
                        <li><i class="fas fa-pencil-ruler"></i> Apreciación Artística</li>
                        <li><i class="fas fa-pencil-ruler"></i> Técnicas De Investigación De Campo</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Tecer Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Geometría Analítica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Física I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés III</li>
                        <li><i class="fas fa-pencil-ruler"></i> Comunicación Científica</li>
                        <li><i class="fas fa-pencil-ruler"></i> Contabilidad I</li>
                        <li><i class="fas fa-pencil-ruler"></i> Entorno Socioeconómico De México</li>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculos Financieros I</li>
                </div>
                <div class="lista">
                    <p class="centro__blue">Cuarto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculo Diferencial</li>
                        <li><i class="fas fa-pencil-ruler"></i> Física II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Química II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés IV</li>
                        <li><i class="fas fa-pencil-ruler"></i> Derecho</li>
                        <li><i class="fas fa-pencil-ruler"></i> Contabilidad II</li>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculos Financieros II</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Quinto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Cálculo Integral</li>
                        <li><i class="fas fa-pencil-ruler"></i> Microeconomía</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés V</li>
                        <li><i class="fas fa-pencil-ruler"></i> Derecho Mercantil</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional III</li>
                    </ul>
                </div>
                <div class="lista">
                    <p class="centro__blue">Sexto Semestre</p>
                    <ul>
                        <li><i class="fas fa-pencil-ruler"></i> Probabilidad Y Estadística</li>
                        <li><i class="fas fa-pencil-ruler"></i> Macroeconomía</li>
                        <li><i class="fas fa-pencil-ruler"></i> Inglés VI</li>
                        <li><i class="fas fa-pencil-ruler"></i> Orientación Juvenil Y Profesional IV</li>
                    </ul>
                </div>
                <img class="lista__imagen" src="/images/unDraw/admin.svg" alt="Error al Cargar" title="Ciencias Sociales y Administrativas">
            </p>
        </div>
    </section>