    <header>
        <img class= "logo animate__animated animate__rotateInDownLeft animate__slower" src="/images/NoNeim.png" alt="Error al cargar (Logo de NoNeim)" title="Logo NoNeim">
        <div class="margin__title">
            <p title="NoNeim" class= "fuente__title animate__animated animate__bounceInUp animate__slower">NoNeim</p>
        </div>
        <nav>
            <a href="/administrator"><i class="fas fa-user"></i> Usuarios </a>            
            <a href="/adminexam"> Administrar Examen </a>            
            <a href="/cuest"> Administrar Cuestionarios </a>  
            <a href="/logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a> 
        </nav>
    </header>
        <br>
        <br>
        <br>
        <br>
        <br>
       

<section>
    
    <form method="post" name="registropreguntas" id="formS">
        <a class="boton" href="/modifyexam"> Consultar Examen </a></button>
        <div class="form">
            <p class="title2">Agregar pregunta Examen</p>
        <div class="grupo" id="grupo__nombre">
            <input type="text" name="Pregunta" required><span class="barra"></span>
            <label class="label1" for="">Pregunta</label>
        </div>
        <div class="grupo">
            <input type="text" name="A" required><span class="barra"></span>
            <label class="label1" for="">Inciso A</label>
        </div>
        <div class="grupo">
            <input type="text" name="B" required><span class="barra"></span>
            <label class="label1" for="">Inciso B</label>
        </div>
        <div class="grupo">
            <input type="text" name="C" required><span class="barra"></span>
            <label class="label1" for="">Inciso C</label>
        </div>
        <div class="grupo">
            <input type="text" name="D" required><span class="barra"></span>
            <label class="label1" for="">Inciso D</label>
        </div>
        <input class="button" type="submit" value="Agregar pregunta">
        </div>
    </form>
</section>