<link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<center>
   <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Español</div>
  <div class="card-body">
    <a href="cuestionario1"><button type="button" class="btn btn-secondary">Hacer Cuestionario</button></a>
  </div>
</div>
<div class="card bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Matematicas</div>
  <div class="card-body">
    <a href="cuestionario2"><button type="button" class="btn btn-secondary">Hacer Cuestionario</button></a>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Historia</div>
  <div class="card-body">
    <a href="cuestionario3"><button type="button" class="btn btn-secondary">Hacer Cuestionario</button></a>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
  <div class="card-header">Quimica</div>
  <div class="card-body">
    <a href="cuestionario4"><button type="button" class="btn btn-secondary">Hacer Cuestionario</button></a>
  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
  <div class="card-header">Biologia</div>
  <div class="card-body">
    <a href="cuestionario5"><button type="button" class="btn btn-secondary">Hacer Cuestionario</button></a>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Formacion CyE</div>
  <div class="card-body">
    <a href="cuestionario6"><button type="button" class="btn btn-secondary">Hacer Cuestionario</button></a>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header">Geografia</div>
  <div class="card-body">
    <a href="cuestionario7"><button type="button" class="btn btn-secondary">Hacer Cuestionario</button></a>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header">Fisica</div>
  <div class="card-body">
    <a href="cuestionario8"><button type="button" class="btn btn-secondary">Hacer Cuestionario</button></a>
  </div>
</div>
</center>