           <section>
           <br>
           <br>
           <br>           <div id="form" class="form">
               <br>
               <br>
                    <div>
                        <div class="card border-light mb-3" style="max-width: 30rem;">
  <div class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1>Calificaciones</h1></font></font></div>
  <div class="card-body">
    <h4 class="card-title"><font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><a  href="/usuario/resultadoscuest"></i> Calificaciones de cuestionarios</a></font>
        </font>
        </h4>
        <br>
        <hr>
        <h4 class="card-title"><font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><a href="/resultadosexm"> Calificaciones de examen</a></font>
        </font>
        </h4>
        <br>
        <hr>
    <canvas id="myChart" ></canvas>
  </div>
</div>
                     
                    </div>
                </div>
                </section>