
    <br>
        <br>
    <br>
        <br>
    
    <section>
        <center>
       
        <form method="post" name="registroalumno" action="/signup" id="formS">
            <div class="form">
                <p class="title2">Registro</p>
                <div class="grupo" id="grupo__nombre">
                    <input type="text" id="Nombre" name="Nombre" onkeypress="return validarn(event)" pattern="[A-z]{3,15}" title="Ingresa tu nombre ejemplo:Pablito" required><span class="barra"></span>
                    <label class="label1" for="">Nombre</label>
                </div>
                <div class="grupo">
                    <input type="text" id="Ap_pat" name="Ap_pat" onkeypress="return validarn(event)" pattern="[A-z]{3,15}" title="Ingresa tu nombre ejemplo:Sanchez" required><span class="barra"></span>
                    <label class="label1" for="">Apellido<br>Paterno</label>
                </div>
                <div class="grupo">
                    <input type="text" id="Ap_mat" name="Ap_mat" onkeypress="return validarn(event)" pattern="[A-z]{3,15}" title="Ingresa tu nombre ejemplo:Sanchez" required><span class="barra"></span>
                    <label class="label1" for="">Apellido<br>Materno</label>
                </div>
                <div class="grupo">
                    <input type="email" id="correo" name="correo"  title="Ingresa tu correo ejemplo:email@gmail.com" required><span class="barra"></span>
                    <label class="label1" for="">Correo</label>
                </div>
                <div class="grupo">
                    <input type="text" id="username" name="username" onkeypress="return validarn(event)" pattern="[A-z]{3,15}" title="Ingresa tu usuario ejemplo:JoseSM"required><span class="barra"></span>
                    <label class="label1" for="">Usuario</label>
                </div>
                <div class="grupo">
                    <input type="password" id="password" name="password" onkeypress="return validarn(event)" pattern="[A-Za-z]{3,15}" required><span class="barra"></span>
                    <label class="label1" for="">Contraseña</label>
                </div>
                
               
                <button class="button" onclick="validar()">Registrar</button>
                
            </div>           
        </form>
        </center>
    </section>